<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
 "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app>

    <servlet>
        <servlet-name>forums</servlet-name>
        <display-name>Forums Servlet</display-name>
        <description>The Forums controller servlet</description>
        <servlet-class>com.topcoder.web.forums.controller.ForumsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ForumsServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


    <taglib>
        <taglib-uri>tc-taglib.tld</taglib-uri>
        <taglib-location>/WEB-INF/tc-taglib.tld</taglib-location>
    </taglib>


</web-app>
