@charset "utf-8";
/* CSS Document */

.jqtransformdone .rowElem{
	min-height:10px;
	clear:both;
	padding-bottom:3px;
}

/* -------------
 * Radios
 * ------------- */
.jqTransformRadioWrapper {
	float: left;
	display:inline;
}
.jqTransformRadio {
	background: transparent url(../i/forms/radio.gif) no-repeat center top;
	vertical-align: middle;
	height: 17px;
	width: 17px;
	display:block;/*display: -moz-inline-block;*/
}


/* -------------
 * Checkboxes
 * ------------- */
span.jqTransformCheckboxWrapper{
	float:left;
	display:inline;
	margin-top:1px;
}
a.jqTransformCheckbox {
	background: transparent url(../i/forms/checkbox.gif) no-repeat center top;
	vertical-align: middle;
	height: 16px;
	width: 16px;
	display:block;/*display: -moz-inline-block;*/
}

/* -------------
 * Checked - Used for both Radio and Checkbox
 * ------------- */
a.jqTransformChecked { background-position: left -18px;}


/* -------------
 * Selects
 * ------------- */
.jqTransformSelectWrapper {
	width: 45px;
	position:relative;
	height: 22px;
	border:1px solid #999999;
	float:left;
}
.jqTransformSelectWrapper div span {
	
	font-size: 12px;
	float: none;
	position: absolute;
	white-space: nowrap;
	height: 14px;
	line-height: 14px;
	padding: 4px 0 4px 6px;
	overflow: hidden;
	cursor:pointer;
}

.jqTransformSelectWrapper  a.jqTransformSelectOpen {
	display: block;
	position: absolute;
	right: 1px;
	top:1px;
	width: 19px;
	height: 20px;
	background: url(../i/forms/select-right.gif) no-repeat left top;
}
.jqTransformSelectDisable .jqTransformSelectWrapper{
	background-position:left -30px;
	}
.jqTransformSelectDisable .jqTransformSelectWrapper div span{
	text-indent:-9999px;
	}
.jqTransformSelectDisable .jqTransformSelectWrapper a.jqTransformSelectOpen {
	background-position:left -30px;
	}
.jqTransformNeed .jqTransformSelectWrapper{
	background: url(../i/forms/select-normal-left.png) no-repeat left top;
	}
.jqTransformNeed .jqTransformSelectWrapper  a.jqTransformSelectOpen {
	background: url(../i/forms/select-normal-right.png) no-repeat left top;
}
.jqTransformSelectWrapper ul {
	position: absolute;
	width: 43px;
	top: 22px;
	left: -1px;
	list-style: none;
	background-color: #FFF;
	border: 1px solid #999;
	display: none;
	margin: 0px;
	padding: 0px;
	height: 132px;
	overflow:auto;
	z-index:10;
}
.upwardSelect .jqTransformSelectWrapper ul {
	bottom: 29px;
	top: auto;
}
.jqTransformSelectWrapper ul a {
	display: block;
	padding: 4px;
	line-height:14px;
	text-decoration: none;
	color:#333;
	background-color: #FFF;
	font-size: 12px;
	min-height:12px;
	height:auto !important;
	height:12px;
	overflow:visible;
}

.jqTransformSelectWrapper ul a.selected {
	background: #EDEDED;
	color: #333;
}

.jqTransformSelectWrapper ul a:hover, .jqTransformSelectWrapper ul a.selected:hover {
	background:#3582c4;
	color: #fff;
	text-decoration: none;
}

/* -------------
 * File
 * ------------- */
.jqTransformFileWrapper{
	width: auto;
	position:relative;
	height: 34px;
	float:left;
	display:inline;
	}
.jqTransformFile{
	position:absolute;
	left:0;
	top:0;
	}
.jqTransformFileTxtWrapper{
	float:left;
	width:auto;
	display:inline;
	padding-right:4px;
	height:31px;
	background: transparent url(../i/forms/input_text_right.gif) no-repeat right top;
	}
.jqTransformFileTxtWrapper .jqTransformFileTxtInner{
	float:left;
	width:auto;
	display:inline;
	padding-left:4px;
	height:31px;
	line-height:30px;
	background: transparent url(../i/forms/input_text_left.gif) no-repeat left top;
	}
.jqTransformFileTxt{
	float:left;
	width:auto;
	display:inline;
	color:#666;
	height:31px;
	padding:0 4px;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	white-space: nowrap;
	background:url(../i/forms/file_notice.gif) right -9999px no-repeat;
	overflow:hidden;
	}

.jqTransformFileBtnWrapper{
	margin-left:8px;
	float:left;
	width:auto;
	display:inline;
	padding-right:4px;
	height:33px;
	background: transparent url(../i/forms/btn_right.gif) no-repeat right top;
	}
.jqTransformFileBtnWrapper .jqTransformFileBtn{
	float:left;
	width:auto;
	display:inline;
	padding:0 8px 0 12px;
	height:33px;
	line-height:32px;
	background: transparent url(../i/forms/btn_left.gif) no-repeat left top;
	cursor:pointer;
	color:#333;
	}
.jqTransformFileBtnWrapper:hover{
	color:#333;
	background-position:right -34px;
	}
.jqTransformFileBtnWrapper:hover .jqTransformFileBtn{
	background-position:left -34px;
	}
.jqTransformFileBtn_click{
	background-position:right -68px !important;
	}
.jqTransformFileBtn_click .jqTransformFileBtn{
	background-position:left -68px !important;
	}
.jqTransformFileSafari .jqTransformFileTxt{
	background-position:right center !important;
	}

/* -------------
 * Hidden - used to hide the original form elements
 * ------------- */
.jqTransformHidden {display: none;}