@charset "utf-8";
:link,:visited {text-decoration: none;}
/*******************
 *  HTML Elements  *
 *******************/

/**
 * body
 **/
body {
	color: #333333;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	line-height: 1.2;
}

/**
 * -Links
 **/
a {
	color: #cc0000;
	text-decoration: underline;
}
a:hover {
	text-decoration: underline;
}

.red{
	color:#cc0000;
}
.grayBg{
	background-color:#cccccc !important;
}
.w30{
	width:30px;
	height:12px;
	overflow:hidden;
}
.h28{
	width:12px;
	height:28px;
	overflow:hidden;
}
.leftFloat{
	float:left !important;
}
.rightFloat{
	float:right !important;
}

/* input */
input{
	margin:0;
	padding:0;
}
input.text{
	height:14px;
	padding:4px 6px;
	border:1px solid #999999;
	background:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:14px;
	color:#333;
}
input.error{
	background:#f99;
	color:#000;
}
input.textNormal{
	width:180px;
}
input.textShort{
	width:154px;
}
input.textShorter{
	width:80px
}
input.otherApply{
	width:160px;
}

/* textarea */
textarea{
	margin:0;
	padding:3px;
	border:1px solid #999999;
	background:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:14px;
	color:#333;
	overflow:auto;
}
/* select */
select.selectNormal{
	width:206px;
}
select.selectShort{
	width:72px;
}
select.selectShorter{
	width:52px;
}

/* button */
.button{
	float:left;
	width:auto;
	height:26px;
	display:inline;
	padding-left:5px;
	background:url(../../i/reg/button-gray.gif) left top no-repeat;
	color:#333;
	line-height:26px;
	font-weight:bold;
	text-decoration:none;
}
	.button span{
		float:left;
		width:auto;
		height:26px;
		display:inline;
		padding-right:5px;
		cursor:pointer;
		background:url(../../i/reg/button-gray.gif) right -52px no-repeat;
	}
		.button span span{
			float:left;
			width:auto;
			height:26px;
			display:inline;
			padding:0 5px;
			cursor:pointer;
			text-align:center;
			background:url(../../i/reg/button-gray.gif) left -26px repeat-x;
		}
.button.disabled, 
.button.disabled span, 
.button.disabled span span{
	cursor:default;
}
.button:focus{
	color:#333;
	text-decoration:none;
	background-position:left -78px;
}
	.button:focus span{
		background-position:right -130px;
	}
		.button:focus span span{
			background-position:left -104px;
		}
.button:hover{
	color:#333;
	text-decoration:none;
	background-position:left -78px;
}
	.button:hover span{
		background-position:right -130px;
	}
		.button:hover span span{
			background-position:left -104px;
		}
.redBtn{
	color:#fffffe;
	background:url(../../i/reg/button-red.gif) left top no-repeat;
}
	.redBtn span{
		background:url(../../i/reg/button-red.gif) right -52px no-repeat;
	}
		.redBtn span span{
			background:url(../../i/reg/button-red.gif) left -26px repeat-x;
		}
.redBtn:hover{
	color:#fffffe;
}
.redBtn:focus{
	color:#fffffe;
}

.btnUnit{
	float:left;
	width:auto;
	display:inline;
	}
.btnDirect{
	float:left;
	width:auto;
	height:50px;
	display:inline;
	padding-left:20px;
	background:url(../../i/reg/button-direct.gif) left  -300px no-repeat;
	font-size:11px;
	color:#000001;
}
	.btnDirect .btnRight{
		float:left;
		width:auto;
		height:50px;
		display:inline;
		padding-right:20px;
		background:url(../../i/reg/button-direct.gif) right -250px no-repeat;
	}
		.btnDirect .btnRight .btnCenter{
			float:left;
			width:87px;
			height:38px;
			padding-top:12px;
			padding-left:8px;
			display:inline;
			background:url(../../i/reg/button-direct.gif) left -350px repeat-x;
		}
.redDirect{
	background-position:left -50px;
	color:#fffffe;
	}
	.redDirect .btnRight{
		background-position:right 0px;
		}
		.redDirect .btnRight .btnCenter{
			background-position:left -100px;
			}
.firstDirect .btnDirect{
	background-position:left -400px;
	padding-left:9px;
}
.firstDirect .redDirect{
	background-position:left -150px;
}
	.firstDirect .btnRight .btnCenter{
		width:106px;
		padding-left:0;
	}
.lastDirect{}
	.lastDirect .btnDirect .btnRight{
		background-position:right -450px;
	}
	.lastDirect .redDirect .btnRight{
		background-position:right -200px;
	}
		.lastDirect .btnRight .btnCenter{
			width:67px;
		}

/**
 * .wrapper
 **/
.wrapper {
	background:#ccc url(../../i/reg/bg-wrapper.png) left top repeat-x;
}

/**
 * #header
 **/
#header {
	height:99px;
	background:url(../../i/reg/bg-header.png) left top repeat-x;
	border-bottom:1px solid #cccccc;
}
	#header .inner{
		height:99px;
		width:920px;
		margin:0 auto;
	}
		#header h1{
			padding-top:29px;
		}
			#header h1 .logo{
				display:block;
				width:234px;
				height:36px;
				text-indent:-9999px;
				overflow:hidden;
				background:url(../../i/reg/logo-topcoder.png) left top no-repeat;
			}

/**
 * #container
 **/
#container {
	margin:0 auto;
	width:920px;
	min-height:100px;
	height:auto !important;
	height:100px;
	overflow:visible;
}
#main{
	margin:0 auto;
}

#mainTitle{
	height:45px;
	padding-left:8px;
	background:url(../../i/reg/bg-title.gif) left top no-repeat;
	overflow:hidden;
}
	#mainTitle .mainTitleRight{
		height:45px;
		padding-right:8px;
		background:url(../../i/reg/bg-title.gif) right -92px no-repeat;
	}
		#mainTitle .mainTitleRight .mainTitleCenter{
			height:45px;
			padding-left:4px;
			background:url(../../i/reg/bg-title.gif) left -46px repeat-x;
		}
			#mainTitle h2{
				height:45px;
				line-height:44px;
				font-family:"Myriad Pro", Arial, Helvetica, sans-serif;
				font-size:18px;
				color:#fffffe;
				padding-left:33px;
			}
				#mainTitle h2 .titleWrapper{
					padding-top:1px;
					display:block;
				}

#mainContent{
	border:1px solid #ccc;
	border-top:0px;
	border-bottom:0px;
	background:#FFFFFF;
}
	#mainContent .mainContentInner{
		border:1px solid #f3f3f3;
		border-top:0px;
		border-bottom:0px;
		min-height:20px;
		height:auto !important;
		height:20px;
		overflow:visible;
	}
#mainFooter{
	height:6px;
	padding-left:6px;
	background:url(../../i/reg/bg-mainfooter.gif) left top no-repeat;
	overflow:hidden;
}
	#mainFooter .mainFooterRight{
		height:6px;
		padding-right:6px;
		background:url(../../i/reg/bg-mainfooter.gif) right -12px no-repeat;
		overflow:hidden;
	}
		#mainFooter .mainFooterRight .mainFooterCenter{
			height:6px;
			background:url(../../i/reg/bg-mainfooter.gif) left -6px repeat-x;
			overflow:hidden;
		}

.registerBox{
	padding:15px 0 10px;
}
	.registerBox .elemLine{
		padding:7px 0;
		min-height:35px;
		height:auto !important;
		height:24px;
		overflow:visible;
	}
	.registerBox .leftPart{
		float:left;
		width:210px;
		display:inline;
		padding-right:22px;
		font-weight:bold;
		line-height:20px;
		text-align:right;
	}
	.registerBox .rightPart{
		float:left;
		width:auto;
		display:inline;
	}
		.registerBox .rightPart .formCommand,
		.registerBox .rightPart .verificationCodeInput{
			clear:left;
			padding:7px 0px;
		}
		.registerBox .rightPart .verificationCodeImg{
			height:48px;
		}
		.registerBox .rightPart .formCommand{
			height:26px;
			width:auto;
			display:inline-block;
		}
			.registerBox .rightPart .formCommand .button{
				margin-right:6px;
			}
				.registerBox .rightPart .formCommand .button span span{
					min-width:62px;
					width:auto !important;
					width:62px;
					overflow:visible;
				}
				.registerBox .rightPart p.tryAnotherCode{
					height:18px;
					padding-top:6px;
					overflow:hidden;
					}
					.registerBox .rightPart p.tryAnotherCode a:focus{
						text-decoration:underline;
					}					
				
		.tipError, .compareError,.verificationCodeInput .tipError2{
			float:left;
			width:auto;
			display:inline-block;
			padding-left:8px;
			height:22px;
			line-height:22px;
			color:#cc0000;
			display:none;
			overflow:hidden;
		}
		
		.tipError2{
			float:left;
			width:180px;
			display:inline-block;
			padding-left:8px;
			height:12px;
			line-height:12px;
			color:#cc0000;
			display:none;
		}		

.barBox{
	clear:left;
	height:14px;
	line-height:14px;
	padding-top:10px;
	overflow:hidden;
}
	.barBox .label{
		float:left;
		width:auto;
		display:inline;
		color:#000001;
	}
	.barBox .barProgress{
		float:left;
		width:auto;
		display:inline;
		padding-top:4px;
		padding-left:11px;
	}
		.barBox .barProgress .barInner{
			width:72px;
			height:7px;
			overflow:hidden;
			background:url(../../i/reg/bg-bar-progress.gif) left -7px repeat-x;
			position:relative;
		}
		.barBox .barProgress .barInner .barContainer{
			width:100%;
			height:7px;
			position:absolute;
			left:0;
			top:0;
			background:url(../../i/reg/bg-bar.gif) left top repeat-x;
			z-index:10;
		}
		.barBox .barProgress .barInner .barControl{
			width:0%;
			height:7px;
			overflow:hidden;
			background:url(../../i/reg/bg-bar-progress.gif) left top repeat-x;
		}

.accoutSummery{
	width:484px;
	margin-left:42px;
	min-height:178px;
	height:auto !important;
	height:178px;
	overflow:visible;
	line-height:18px;
}
	.accoutSummery h3{
		padding-top:42px;
		padding-bottom:24px;
		line-height:24px;
		font-size:18px;
	}
.userPreference{
	padding-left:43px;
	padding-right:10px;
	padding-top:10px;
	min-height:237px;
	height:auto !important;
	height:237px;
	overflow:visible;
}
	.userPreference .preferenceChoose{
		float:left;
		width:350px;
		display:inline;
	}
		.userPreference .preferenceChoose  .otherContestCompete{
			padding-top:16px;
		}
			.userPreference .preferenceChoose h3{
				font-size:14px;
				padding-top:10px;
				line-height:24px;
			}
			.userPreference .preferenceChoose .elemLine{
				padding:4px 0;
			}
			.userPreference .preferenceChoose .formCommand{
				padding-top:28px;
			}
			.userPreference .preferenceChoose label{
				float:left;
				width:auto;
				display:inline;
				line-height:18px;
				margin-left:10px;
			}
			.helpTips{
				float:left;
				width:19px;
				height:19px;
				margin-left:4px;
				display:inline;
				text-indent:-9999px;
				background:url(../../i/reg/icon-help.gif) left top no-repeat;
			}

	.userPreference .preferenceInformation{
		float:right;
		width:182px;
		display:inline;
		min-height:203px;
		height:auto !important;
		height:203px;
		overflow:visible;
		padding:10px;
		border:1px solid #cbcc9a;
		background:#feffdb;
		line-height:14px;
	}

.uploadDocument{
	padding-left:14px;
	padding-right:7px;
	min-height:200px;
	height:auto !important;
	height:200px;
	overflow:visible;
}
	.profileBox{
		height:34px;
		padding-top:13px;
		overflow:hidden;
	}
		.profileBox .profileBoxInner{
			float:right;
			width:auto;
			display:inline;
			padding-right:7px;
			line-height:20px;
		}
			.profileBox .profileBoxInner .label{
				float:left;
				width:auto;
				display:inline;
				padding-right:14px;
				color:#666;
			}
			.profileBox .profileBoxInner .profileCompleteness{
				float:left;
				width:140px;
				height:17px;
				padding:1px;
				border:1px solid #999999;
				display:inline;
			}
				.profileBox .profileBoxInner .profileCompleteness .profileCompletenessBar{
					height:17px;
					width:50%;
					background:#41b621 url(../../i/reg/bg-completeness.gif) left top repeat-y;
				}
				
			.profileBox .profileBoxInner .completenessPercent{
				float:left;
				width:33px;
				display:inline;
				padding-right:10px;
				text-align:right;
			}
	.uploadDocument .signBar .btnUnit{
		margin-left:-17px;
	}
	.uploadDocument .signBar .firstDirect{
		margin-left:0px;
	}
	.uploadDocument .introduceForAgree{
		padding-top:13px;
	}
		.uploadDocument .introduceForAgree h3,
		.uploadDocument .documentUpload h3{
			font-size:14px;
			padding:11px 0;
		}
		.uploadDocument .introduceForAgree .summeryForAgree{
			font-size:11px;
			line-height:14px;
		}
		.uploadDocument .introduceForAgree p a{
			font-size:11px;
		}
	.uploadDocument .documentUpload{
		height:auto;
	}
		.uploadDocument .documentUpload .fileUpload{
			width:343px;
			height:26px;
			overflow:hidden;
			position:relative;
		}
		.fileTxt{
			width:248px;
			height:24px;
			margin-left:6px;
			line-height:24px;
			padding-left:5px;
			border:1px solid #999999;
			white-space:nowrap;
			font-size:12px;
			color:#000;
			cursor:pointer;
			overflow:hidden;
			background-color:#fff;
			position:absolute;
			z-index:20;
			right:0;
			top:0;
		}
		.documentUploadFile{
			position:absolute;
			right:0;
			top:0;
			z-index:19;
		}
		.profileMainContent .documentUploadFile{
			left:0;
			right:auto;
		}
		
	.uploadDocument .formCommand{
		padding:10px 8px 10px 0px;
	}
		.uploadDocument .formCommand .formCommandInner{
			float:right;
			width:auto;
			display:inline;
		}
			.uploadDocument .formCommand .formCommandInner .button{
				margin-left:5px;
			}
				.uploadDocument .formCommand .formCommandInner .remindButton span span{
					min-width:128px;
					width:128px;
				}

.nameContact{
	padding-left:11px;
	padding-right:16px;
	min-height:200px;
	height:auto !important;
	height:200px;
	overflow:visible;
}
	.nameContact .profileBox{
		height:36px;
		border-bottom:1px solid #ccc;
	}
		.nameContact .profileBox .profileBoxInner{
			padding-right:0px;
		}
	.nameContact .contentMyProfile{
		padding-top:7px;
		padding-bottom:14px;
	}
		#sideBar{
			float:left;
			width:200px;
			padding-left:8px;
			display:inline;
			min-height:20px;
			height:auto !important;
			height:20px;
			overflow:visible;
		}
			#sideBar .userHandle{
				height:37px;
				width:200px;
				text-align:center;
				line-height:36px;
				font-size:14px;
				text-indent:15px;
			}
			#sideBar .userPhoto{
				width:156px;
				height:170px;
				padding:10px 21px 0 23px;
				background:url(../../i/reg/bg-user-photo.png) left top no-repeat;
				text-align:center;
			}
			#sideBar .userCommandBox{
				width:142px;
				height:42px;
				padding-left:58px;
				overflow:hidden;
			}
				#sideBar .userCommandBox .button span span{
					padding-left:3px;
					padding-right:3px;
				}
			#sideBar .userOperation{
			}
				#sideBar .userOperation ul li{
					border-bottom:2px solid #fff;
					padding:0;
					margin:0;
					}
				#sideBar .userOperation ul li a{
					display:block;
					margin:0;
					padding:5px 0;
					line-height:18px;
					text-decoration:none;
					color:#333333;
					text-indent:16px;
				}
					#sideBar .userOperation ul li a:hover{
						text-decoration:none;
					}
				#sideBar .userOperation ul li .topMenu{
					background:#eeeeee url(../../i/reg/arrow-right.gif) 95% 9px no-repeat;
				}
				#sideBar .userOperation ul li.expand .topMenu{
					background:#eeeeee url(../../i/reg/arrow-down.gif) 95% 9px no-repeat;
				}
					#sideBar .userOperation ul li ul{
						display:none;
					}
					#sideBar .userOperation ul li.expand ul{
						display:block;
					}
					#sideBar .userOperation ul li ul li{
						border-top:2px solid #fff;
						border-bottom-width:0px !important;
					}
						#sideBar .userOperation ul li ul li a{
							color:#fffffe;
							background-color:#999;
						}
						#sideBar .userOperation ul li ul li a:hover,
						#sideBar .userOperation ul li ul li a.current{
							background-color:#990000;
						}
			
		.profileMainContent{
			float:right;
			width:668px;
			display:inline;
			min-height:20px;
			height:auto !important;
			height:20px;
			overflow:visible;
			border:1px solid #cccccc;
		}
			.profileMainContent .profileContentTitle{
				height:36px;
				line-height:36px;
				background:url(../../i/reg/bg-title-user.png) left top repeat-x;
				font-family:"Myriad Pro", Arial, Helvetica, sans-serif;
				font-size:14px;
				font-weight:bold;
				padding-left:18px;
			}
			.profileMainContent .userInformationList,
			.profileMainContent .userEditList{
				padding-left:120px;
				padding-right:7px;
				padding-bottom:26px;
				min-height:360px;
				height:auto !important;
				height:360px;
				overflow:visible;
			}
			.profileMainContent .nameAndContactList,
			.profileMainContent .nameAndContactEdit{
				min-height:430px;
				height:430px;
			}
			.profileMainContent .accountInformationEdit{
				padding-bottom:16px;
			}
			.profileMainContent .accountInformationList{
				min-height:406px;
				height:406px;
			}
				.profileMainContent .userInformationList .topCommandBox{
					padding-top:10px;
					min-height:42px;
					height:auto !important;
					height:42px;
					overflow:visible;
				}
					.profileMainContent .userInformationList .topCommandBox .editButton span span{
						padding:0 18px;
					}
				.profileMainContent .elemLine{
					clear:left;
					padding:6px 0;
					min-height:24px;
					height:auto !important;
					height:24px;
					line-height:24px;
					overflow:visible;
				}
				.profileMainContent .lastElemLine{
					padding-top:14px;
				}
					.profileMainContent .lastElemLine .userContactInformation{
						padding-left:24px;
					}
					.profileMainContent .elemLine label{
						float:left;
						width:220px;
						display:inline;
						font-weight:bold;
					}
					.profileMainContent .elemLine label.questtionLabel{
						width:246px;
					}
					.profileMainContent .elemLine .userContactInformation{
						float:left;
						width:auto;
						display:inline;
					}
			.profileMainContent .userEditList{
				padding-left:120px;
			}
				.profileMainContent .userEditList .editErrorBox{
					padding-top:17px;
					padding-right:30px;
					min-height:35px;
					height:auto !important;
					height:35px;
					overflow:visible;
				}
					.profileMainContent .userEditList .editErrorBox .editErrorNotice{
						width:auto;
						line-height:20px;
						padding:4px 0px 4px 11px;
						border:1px solid #ff0000;
						color:#cc0000;
						background:#fffbd9 url(../../i/reg/bg-edit-errorgif.gif) left top repeat-x;
						display:none;
					}
					.profileMainContent .userEditList .elemLine .userLabelDisable{
						padding-left:6px;
					}
					.profileMainContent .userEditList .elemLine .textAreaBox{
						display:block;
						width:auto;
						min-height:64px;
						height:auto !important;
						height:64px;
						overflow:visible;
					}
						#storeSSHKey{
							width:219px;
							height:54px;
							display:none;
						}
					.profileMainContent .userEditList .elemLine .button{
						margin-right:5px;
					}
					.profileMainContent .privacyList .elemLine .button{
						margin-left:5px;
					}
						.profileMainContent .userEditList .elemLine .button span span,
						.profileMainContent .privacyList .elemLine .button span span,
						.profileMainContent .paymentPreferenceList .button span span{
							width:62px;
						}
				.chooseApplyBox{
					width:280px;
					min-height:24px;
					height:auto !important;
					height:24px;
					overflow:visible;
					padding-bottom:6px;
					padding-top:4px;
				}
					.chooseApplyBox .unitCheckBox{
						float:left;
						width:80px;
						min-height:24px;
						height:auto !important;
						height:24px;
						overflow:visible;
						display:inline;
					}
						.profileMainContent .elemLine .chooseApplyBox label{
							font-weight:normal;
							width:auto;
							line-height:18px;
							padding-left:6px;
						}
			.profileMainContent .userEditList .elemLine .fileUpload{
				width:88px;
				height:26px;
				padding-left:230px;
				overflow:hidden;
				position:relative;
				z-index:2;
			}
				.profileMainContent .userEditList .elemLine .fileTxt{
					width:218px;
					right:auto;
					left:0;
					margin-left:0;
				}
				.profileMainContent .userEditList .elemLine .documentUploadFile{
					position:absolute;
					right:auto;
					left:0;
				}
			.privacyList .chooseApplyBox{
				padding:0;
			}
				.blacklistedMemberTitle{
					padding-top:30px;
					padding-bottom:7px;
					min-height:12px;
					height:auto !important;
					height:12px;
					overflow:visible;
				}
				.profileMainContent .privacyList .elemLine .addMemberBox{
					min-height:49px;
					height:auto !important;
					height:49px;
					overflow:visible;
				}
					.profileMainContent .privacyList .elemLine .addMemberBox input{
						margin-top:1px;
					}
					.profileMainContent .privacyList .elemLine .noticeError{
						min-height:12px;
						height:auto !important;
						height:12px;
						overflow:visible;
						font-size:11px;
						line-height:14px;
						display:none;
					}
				.profileMainContent .privacyList .elemLine .addedMemberList{
					padding-left:9px;
					min-height:131px;
					height:auto !important;
					height:131px;
					overflow:visible;
				}
					.profileMainContent .privacyList .elemLine .addedMemberList ul li{
						padding-left:25px;
						height:34px;
						line-height:34px;
						background:url(../../i/reg/icon-list-style-big.gif) left center no-repeat;
					}
						.profileMainContent .privacyList .elemLine .addedMemberList ul li span{
							float:left;
							min-width:90px;
							width:auto !important;
							width:90px;
							overflow:visible;
							display:inline;
						}
						.profileMainContent .privacyList .elemLine .addedMemberList ul li a{
							float:left;
							width:auto;
							display:inline;
						}
				.profileMainContent .privacyList .elemLine .commandBox{
					padding-left:130px;
					padding-top:51px;
					min-height:36px;
					height:auto !important;
					height:36px;
					overflow:visible;
				}
				.profileMainContent .privacyList .elemLine .competitionAnnouncementList{
					padding-top:4px;
					padding-bottom:4px;
					min-height:12px;
					height:auto !important;
					height:12px;
					overflow:visible;
				}
					.profileMainContent .privacyList .elemLine .competitionAnnouncementList label{
						font-weight:normal;
						width:auto;
						line-height:18px;
						padding-left:16px;
					}
					
			.profileMainContent .paymentPreferenceList{
				padding:40px 39px 0 44px;
				min-height:455px;
				height:auto !important;
				height:455px;
				overflow:visible;
			}
				.profileMainContent .paymentPreferenceList p{
					color:#000001;
					line-height:18px;
					padding-bottom:26px;
				}
				.profileMainContent .paymentPreferenceList .paymentSetLow{
					padding:18px 0 13px 77px;
					min-height:12px;
					height:auto !important;
					height:12px;
					overflow:visible;
					border:1px solid #ccc;
					background-color:#ededed;
				}
					.profileMainContent .paymentPreferenceList .paymentSetLow label{
						float:left;
						width:183px;
						display:inline;
						line-height:24px;
						font-weight:bold;
					}
					.profileMainContent .paymentPreferenceList .paymentSetLow span.unit{
						float:left;
						width:auto;
						display:inline;
						line-height:24px;
						padding-right:11px;
					}
					.profileMainContent .paymentPreferenceList .paymentSetLow .tipError{
						line-height:24px;
						padding-left:12px;
					}
				.profileMainContent .paymentPreferenceList .commandBox{
					padding-top:36px;
					padding-left:192px;
				}
					.profileMainContent .paymentPreferenceList .button{
						margin-right:5px;
					}

/**
 * #footer
 **/
#footer {
	height:58px;
	line-height:44px;
	width:920px;
	margin:0 auto;
	text-align:center;
}


/* terms of use and privacy policy */
#termsConditions, #privacyPolicy{
    padding-bottom: 20px;
    padding-top: 10px;
    background: #ffffff;
}
#termsConditions h3, #privacyPolicy h3{
    font-size:14pt;
    font-weight: bold;
    margin-bottom: 1em;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
#termsConditions h4, #privacyPolicy h4{
    font-size: 12pt;
    font-weight: bold;
    margin-bottom: 1em;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
#termsConditions ol, #privacyPolicy ol{
    margin-bottom: 1em;
    padding-left: 30px;
    padding-right: 30px;
}
#termsConditions p, #privacyPolicy p{
    margin-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
}
#termsConditions em, #privacyPolicy em{
    font-style: italic;
}
#termsConditions strong, #privacyPolicy strong{
    font-weight: bold;
}

/* modal */
#modalBackground{
	position:absolute;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
	background:#000000;
	z-index:6000;
}
#modal{
	position:absolute;
	top:0;
	left:0;
	width:auto;
	height:auto;
	z-index:9999;
}
#modal .outLay{
	display:none;
	width:478px;
	border:1px solid #cccccc;
	background:#fff url(../../i/reg/bg-modal-header.png) left top no-repeat;
	padding:4px 7px 4px 6px;
	min-height:12px;
	height:auto !important;
	height:12px;
	overflow:visible;
}
	#modal .outLay .modalHeader{
		height:41px;
		margin-bottom:6px;
		background-color:#fff;
		color:#333333;
		font-weight:bold;
		font-size:18px;
		text-align:center;
		line-height:40px;
		font-family:"Myriad Pro", Arial, Helvetica, sans-serif;
	}
	#modal .outLay .modalContainer{
		width:476px;
		overflow:auto;
		border:1px solid #cccccc;
		min-height:12px;
		height:auto !important;
		height:12px;
		overflow:visible;
	}
#modal #modalTermsConditions{
	height:475px !important;
}
	#modal #modalTermsConditions .modalContainer{
		height:386px !important;
	}
		#modalTermsConditions .modalContainer .modalContainerInner{
			padding:10px;
			line-height:18px;
		}
	#modalTermsConditions .modalFooter{
		height:30px;
		padding-top:8px;
		overflow:hidden;
	}
		#modalTermsConditions .modalFooter .modalCommand{
			float:right;
			width:auto;
			display:inline;
		}
			#modalTermsConditions .modalFooter .modalCommand .button{
				margin-left:5px;
			}
			#modalTermsConditions .modalFooter .button span span,
			.userPreference .preferenceChoose .formCommand .button span span,
			#modalUploadPhoto .popUpUploadPhotoRight .button span span,
			.uploadDocument .button span span {
				min-width:62px;
				width:auto !important;
				width:62px;
				overflow:visible;
			}
			
#modalUploadPhoto .modalContainerInner{
	padding:8px 5px 5px 6px;
}	
	#modalUploadPhoto .popUpUploadPhotoLeft{
		float:left;
		width:117px;
		height:140px;
		display:inline;
	}
		#modalUploadPhoto .popUpUploadPhotoLeft .inner{
			position:relative;
			width:115px;
			height:138px;
			overflow:hidden;
			border:1px solid #666666;
		}
			#modalUploadPhoto .popUpUploadPhotoLeft .inner #photoPreview{
				width:115px;
				height:138px;
			}
			#modalUploadPhoto .popUpUploadPhotoLeft .inner .label{
				display:block;
				position:absolute;
				width:115px;
				line-height:18px;
				top:50px;
				left:0;
				text-align:center;
			}
	#modalUploadPhoto .popUpUploadPhotoRight{
		float:right;
		width:338px;
		display:inline;
	}
		#modalUploadPhoto .popUpUploadPhotoRight .fileUpload{
			position:relative;
			width:338px;
			height:26px;
			overflow:hidden;
		}
			#modalUploadPhoto .popUpUploadPhotoRight .fileUpload .fileTxt{
				margin-left:0;
				left:0 !important;
				right:auto;
			}
			#modalUploadPhoto .popUpUploadPhotoRight .fileUpload .documentUploadFile{
				margin-left:0;
			}
				#modalUploadPhoto .popUpUploadPhotoRight .fileUpload .fileTxt{
					width:242px;
				}
				#modalUploadPhoto .popUpUploadPhotoRight .fileUpload .button{
					float:right;
				}
		#modalUploadPhoto .popUpUploadPhotoRight .popUpUploadPhotoTips{
			border:1px solid #cbcc9a;
			height:55px;
			padding:6px 8px;
			line-height:18px;
			margin-top:8px;
			color:#cc0000;
			background-color:#feffdb;
		}
		#modalUploadPhoto .popUpUploadPhotoRight .modalCommand{
			padding-top:8px;
		}
			#modalUploadPhoto .popUpUploadPhotoRight .modalCommand .button{
				float:right;
				margin-left:5px;
			}
			

.popUp{
	display:none;
	position:absolute;
	top:20px;
	left:0;
	background:#feffdb;
	line-height:14px;
	font-size:11px;
}
	.popUp .popUpInner{
		border:1px solid #cbcc9a;
		padding:10px;
		width:380px;
		white-space:normal;
		min-height:12px;
		height:auto !important;
		height:12px;
		overflow:visible;
		position:relative;
	}
	.popUp .popUpInner .arrow{
		width:21px;
		height:11px;
		background:url(../../i/reg/arrow.gif) left top no-repeat;
		position:absolute;
		left:0px;
		top:-11px;
	}
	.popUp .bodySubtitle{
		font-size:14px;
		font-weight:bold;
	}
	.preferencePage .popUp ul li{
		padding-left:16px;
		min-height:12px;
		height:auto !important;
		height:12px;
		overflow:visible;
		background:url(../../i/reg/icon-list-style.gif) left 4px no-repeat;
	}


/* different from */
.registerPage #container {
	padding-top:40px;
	padding-bottom:20px;
	min-height:476px;
	height:476px;
}
.activeAccountPage #container,
.confirmAccountPage #container {
	padding-top:100px;
	padding-bottom:145px;
}
.preferencePage #container {
	padding-top:84px;
	padding-bottom:93px;
}
.uploadDocumentPage #container {
	padding-top:27px;
	padding-bottom:20px;
}
.myProfilePage #container {
	padding-top:30px;
	padding-bottom:20px;
}
.termsConditionsPage #container {
    padding-top: 40px;
    padding-bottom: 20px;
}
.privacyPolicyPage #container {
    padding-top: 40px;
    padding-bottom: 20px;
}
	
.registerPage #main,
.activeAccountPage #main,
.confirmAccountPage #main,
.preferencePage #main,
.uploadDocumentPage #main{
	width:622px;
}
.myProfilePage #main{
	width:918px;
	}

.registerPage #mainTitle h2{
	background:url(../../i/reg/icon-mainTitle-register.png) left 2px no-repeat;
}
.activeAccountPage #mainTitle h2{
	background:url(../../i/reg/icon-mainTitle-active.png) left 2px no-repeat;
}
.confirmAccountPage #mainTitle h2{
	background:url(../../i/reg/icon-mainTitle-confirm.png) left 2px no-repeat;
}
.preferencePage #mainTitle h2{
	background:url(../../i/reg/icon-mainTitle-preference.png) left 2px no-repeat;
}
.uploadDocumentPage #mainTitle h2{
	padding-left:6px;
	background:none;
}
.myProfilePage #mainTitle,
.myProfilePage #mainTitle .mainTitleRight,
.myProfilePage #mainTitle .mainTitleRight .mainTitleCenter{
	height:35px;
}
.myProfilePage #mainTitle h2{
	line-height:36px;
	height:35px;
	font-size:14px;
	background:url(../../i/reg/icon-mainTitle-myprofile.png) left 2px no-repeat;
}
.myProfilePage #mainTitle h2 .titleWrapper{
	padding-top:4px;
}

.preferencePage .popUp .popUpInner{
	width:400px;
}
.preferencePage .popUp .popUpInner .arrow{
	left:20px;
}
.uploadDocumentPage .popUp .popUpInner{
	width:206px;
}
.uploadDocumentPage .popUp .popUpInner .arrow{
	left:177px;
}
.myProfilePage .popUp .popUpInner{
	width:206px;
	line-height:18px;
	font-size:12px;
}
.myProfilePage .popUp .popUpInner .arrow{
	left:177px;
}
.myProfilePage .popUp .popUpInner dd{
	font-weight:bold;
	padding-left:36px;
}
.myProfilePage .popUp .popUpInner dd.finish{
	font-weight:normal;
	background:url(../../i/reg/icon-finish.gif) 18px 3px no-repeat;
}

.invisible {
	display: none;
}

/* page login.html, recoverPassword.html, confirimPassword.html */
html,body { font-family:Arial, Helvetica, sans-serif; background:#cccccc url(../../i/reg/background.png) repeat-x top left; }

/* header wrapper */
#headerWrapper {
	background-color:black;
	border-bottom:1px #cccccc solid;
}

#headerInner {
	width:1000px;
	height:99px;			
	margin:0 auto;
}
	#topcoderLogo { display:inline-block; margin-top: 30px }

/* main wrapper */
#mainWrapper {
	width:1000px;
	margin:0 auto;	
}

.innerWrapper {
}

#registerInnerWrapper {
	width:624px;
	margin:100px auto 0px auto;
	height:384px;
}
/* red rounded box */
.redRoundedBox {
}
.redRoundedBox .top {
	height:44px;
	background:url(../../i/reg/redbox-top-side.png) no-repeat top left; 
}
.redRoundedBox .leftTop {
	height:44px;
	background:url(../../i/reg/redbox-top-side.png) no-repeat top right; 
	padding:0px 8px;
}
.redRoundedBox .topContent {
	height:44px;
	background:url(../../i/reg/redbox-top-bg.png) repeat-x top left;
}
.redRoundedBox .titleLogo {
	float:left;	
	width:25px;
	height:35px;
	margin-left:4px;
}
.redRoundedBox .title {
	float:left;
	color:white;
	font-size:18px;
	font-family: "Myriad Pro",tahoma, arial,"Sans Serif"; 
	margin:10px 6px;
	text-shadow:#000000 1px 1px 1px; 
}

.redRoundedBox .contentLeft {
	background:white url(../../i/reg/redbox-content-bg-side.png) repeat-y top left;
	float:left;
}
.redRoundedBox .contentRight {
	background:url(../../i/reg/redbox-content-bg-side.png) repeat-y top right;
	padding:0px 2px;
	float:left;
	width:100%;
}
.redRoundedBox .contentBox {
	background:white;
	float:left;
	width:100%;
}	
.redRoundedBox .bottom {
	float:left;
	height:6px;
	background:url(../../i/reg/redbox-bottom-bg-side.png) no-repeat top left; 
}
.redRoundedBox .leftBottom {
	float:left;
	height:6px;
	width:100%;
	background:url(../../i/reg/redbox-bottom-bg-side.png) no-repeat top right; 
	padding:0px 8px;
}	
.redRoundedBox .bottomContent {
	float:left;
	width:100%;
	background:url(../../i/reg/redbox-bottom-bg.png) repeat-x top left; 
	height:6px;
}
/* register box */
#registerBox .contentLeft{ width:620px;}
#registerBox .bottom { width:608px; }
#recoverSuccessContentLeftBox { height:180px; }
#registerLogo { background:url(../../i/reg/register-logo.png) no-repeat 0px 7px; }
#keyLogo { background:url(../../i/reg/key-logo.png) no-repeat 0px 7px; }

	/* two column form */
	.twoColumnForm {
		overflow:hidden;
	}
	.twoColumnForm dt {
		float:left;
		text-align:left;
		clear:left;
	}
	.twoColumnForm dd{
		float:left;
	}
	.loginLabelColumn { margin-top:25px; }
	.loginLabelColumn dt{
		width:115px;
		padding:5px 0px 5px 60px;
		font-size:12px;
		font-weight:bold;
		height:24px;
		line-height:24px;
	}
	.loginLabelColumn dd{
		width:440px;
		padding:5px 0px 5px 0px;
	}
	#recoverForm {
		margin-top:0px;
	}
.grayInputText {
	border:1px #999999 solid;
	height:22px;
	line-height:22px;
}	
.errorMessage1 { display:inline-block; margin-left:10px; font-size:12px; color:#ff0000; display:none;}
.errorMessage2 { display:inline-block; margin-left:10px; font-size:12px; color:#ff0000; display:none;}
.registerInputMed { width: 227px; }
.registerInputSmall{ width: 166px; }
.registerInputSmaller{ width: 91px; }
.errorInput { background-color: #ff9999; }
#loginTitle {
	margin-left:45px;
	display:inline;
}
.redLink { font-size:12px; color:#ff0000; text-decoration:underline;}
.registerInnerWrapper #captchaBox{ margin-top:8px; }
#handle { float:left; }
.loginPara {
	clear:both;
	margin: 3px 45px 3px 60px;
	font-size:12px;
}
.confirmRecoverPara {
	clear:both;
	margin: 4px 25px 4px 40px;
	font-size:12px;		
}
#recoverPara { margin-top:25px; margin-bottom:10px; font-size:14px;}
#recoverButtonBox {
	margin-top:40px;
	padding:0px 10px 5px 0px;
	overflow:hidden;
}
#forgotPara { padding-top:20px; }
#newMemberPara { padding-top:10px; }
#confirmRecover1 {
	margin-top:60px;
	font-size:18px;
	margin-right:10px;
}
.mediumButton {
	position:relative;
	display:inline-block;
	height:26px;
	background:url(../../i/reg/gray-button.png) no-repeat top left; 
	text-align:center;
	line-height:26px;
	font-size:12px;
	font-weight:bold;
	color:black;
}
.mediumButton span{
	position:absolute;
	width:6px;
	height:26px;
	background:url(../../i/reg/gray-button-left.png) no-repeat top left;
	right:-1px;
	top:0px;
	cursor:pointer;
}	
/* gray button */
.grayButton { background:url(../../i/reg/gray-button.png) no-repeat top left;  cursor:pointer;}
.grayButton:hover { background:url(../../i/reg/gray-button.png) no-repeat bottom left; text-decoration:none;}
.grayButton span{ background:url(../../i/reg/gray-button-right.png) no-repeat top left; }
.grayButton:hover span { background:url(../../i/reg/gray-button-right.png) no-repeat bottom left; }
.redButton { background:url(../../i/reg/red-button.png) no-repeat top left; color:white; cursor:pointer;}
.redButton span { background:url(../../i/reg/red-button-right.png) no-repeat top left; }
.redButton:hover { background:url(../../i/reg/red-button.png) no-repeat bottom left; text-decoration:none;}
.redButton:hover span{ background:url(../../i/reg/red-button-right.png) no-repeat bottom left; }
.loginLabelColumn #login {  width:83px; margin-left:130px; }
#registerSpacer { float:left; width:500px; height:25px;}
#submitRecover { float:right; width:83px; text-decoration:none; }
#submitRecover:hover {}
#doItLater { float:right; width:90px; margin-right:5px;}
.footerPara {
	width:1000px;
	margin:0px auto 0px auto;
	float:left;
	clear:both;
	text-align:center;
	font-size:12px;
	color:#333333;
}

.termline{
    height:20px;
    margin:10px 0;
    position:relative;
    padding-left:20px;
}
.termline2{
    height:20px;
    margin:3px 0 10px 0;
    position:relative;
    padding-left:20px;
}

.termline .label{
    height:20px !important;
    line-height:20px !important;
}
	.termline .label a:focus{
		text-decoration:underline;
	}
	
#checkAgree{
    position:absolute;
    left:0;
    top:3px;
    height: 1em;
}
.termline2 #checkAgree{
    top:0;
}
#modalTermsConditions h4{
    padding:14px 0;
}
#modalTermsConditions p{
    margin-bottom:15px;
}

.redBtn.disabled{
	color:#fffffe;
	background:url(../../i/reg/button-red-disable.gif) left top no-repeat;
}
	.redBtn.disabled span{
		background:url(../../i/reg/button-red-disable.gif) right -52px no-repeat;
	}
		.redBtn.disabled span span{
			background:url(../../i/reg/button-red-disable.gif) left -26px repeat-x;
		}
