
/* Body Style */

.adminControl { 
	font-size: 10px; 
	color: #FFF; 
	font-style: normal; 
	font-weight: bold; 
	text-align: center;
	background-color: #547584; 
	}

.adminControlSmall { 
	font-size: 9px; 
	color: #FFF; 
	font-style: normal; 
	font-weight: normal; 
	line-height: 12px;
	text-align: center;
	background-color: #547584; 
	}

.adminControlButton { 
	font-family: "Verdana", "Arial", "Helvetica", sans-serif; 
	font-size: 11px; 
	color: #FFF; 
	font-style: normal; 
	font-weight: bold; 
	text-align: center;
	background-color: #547584; 
	}

.adminControlForm { 
	font-family: "Verdana", "Arial", "Helvetica", sans-serif; 
	font-size: 11px; 
	color: #000; 
	font-style: normal; 
	font-weight: normal; 
	}

.adminControlTitle { 
	font-size: 10px; 
	color: #FFF; 
	font-style: normal; 
	font-weight: normal; 
	background-color: #547584; 
	text-align: center;
	}

A:link { 
	color: #00F; 
	text-decoration: none; 
	}
A:visited { 
	color: #00F; 
	text-decoration: none; 
	}
A:hover { 
	color: #F00; 
	text-decoration: underline; 
	}
A:active { 
	color: #F00; 
	text-decoration: underline; 
	}

.body { 
	background: #000; 
	margin: 0px;
	}

.breadcrumb { 
	font-size: 10px; 
	color: #FFF; 
	font-style: normal; 
	font-weight: normal; 
	background-color: #013466; 
	padding: 6px;
	}

A.breadcrumbLinks:link { 
	color: #FFF; 
	text-decoration: none; 
	}
A.breadcrumbLinks:visited { 
	color: #FFF; 
	text-decoration: none; 
	}
A.breadcrumbLinks:hover { 
	color: #999; 
	text-decoration: underline; 
	}
A.breadcrumbLinks:active { 
	color: #999; 
	text-decoration: underline; 
	}

.comingSoon { 
	font-size: 9px; 
	color: #C00; 
	font-weight: bold; 
	font-style: normal; 
	white-space: nowrap; 
	}

.compSearch { 
	font-size: 10px; 
	color: #FFF; 
	font-style: normal; 
	font-weight: bold; 
	background-color: #547584; 
	}

.compSmall { 
	font-size: 9px; 
	color: #FFF; 
	font-style: normal; 
	font-weight: normal; 
	line-height: 12px;
	background-color: #547584; 
	}

.compSearchButton { 
	font-family: "Verdana", "Arial", "Helvetica", sans-serif; 
	font-size: 11px; 
	color: #FFF; 
	font-style: normal; 
	font-weight: bold; 
	background-color: #547584; 
	}

.compSearchForm { 
	font-size: 11px; 
	color: #000; 
	font-style: normal; 
	font-weight: normal; 
	}

.compSearchTitle { 
	font-size: 10px; 
	color: #FFF; 
	font-style: normal; 
	font-weight: normal; 
	background-color: #547584; 
	text-align: right;
	}

.copyright { 
	font-size: 10px; 
	color: #999; 
	font-weight: normal; 
	font-style: normal; 
	white-space: nowrap; 
	background: #000; 
	padding-top: 5px;
	padding-bottom: 5px;
	}

.display { 
	font-size: 11px; 
	text-align: left;
	line-height: 16px;
	}

.download { 
	font-size: 9px; 
	color: #FFF; 
	font-weight: normal; 
	font-style: normal; 
	background: #E06666; 
	padding: 2px;
	}

A.download:link { 
	color: #FFF; 
	text-decoration: none; 
	}
A.download:visited { 
	color: #FFF; 
	text-decoration: none; 
	}
A.download:hover { 
	color: #FFF; 
	text-decoration: none; 
	background: #F00; 
	}
A.download:active { 
	color: #FFF; 
	text-decoration: none; 
	background: #F00; 
	}

.errorText { 
	font-size: 14px; 
	color: #C00; 
	font-style: normal; 
	font-weight: bold; 
	}

.footer { 
	font-size: 10px;
	color: #FFF; 
	font-weight: bold; 
	font-style: normal; 
	white-space: nowrap; 
	background: #333; 
	padding-top: 5px;
	padding-bottom: 5px;
	}

.footerStripe { 
	background: #505050; 
	}

A.footerLinks:link { 
	color: #FFF; 
	text-decoration: none; 
	}
A.footerLinks:visited { 
	color: #FFF; 
	text-decoration: none; 
	}
A.footerLinks:hover { 
	color: #999; 
	text-decoration: underline; 
	}
A.footerLinks:active { 
	color: #999; 
	text-decoration: underline; 
	}

.forumComponent { 
	font-size: 10px; 
	color: #000; 
	font-weight: normal; 
	font-style: normal; 
	background-color: #EEE; 
	padding: 6px;
	}

.forumDownloads { 
	font-size: 10px; 
	color: #00F; 
	font-weight: bold; 
	font-style: normal; 
	text-align: left;
	line-height: 14px;
	}

.forumMessage { 
	font-size: 10px; 
	color: #000; 
	font-weight: normal; 
	font-style: normal; 
	background-color: #FFF; 
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 20px;
	padding-right: 20px;
	}

.forumSearch { 
	font-size: 10px; 
	color: #000; 
	font-style: normal; 
	font-weight: normal; 
	background-color: #FFF; 
	padding: 8px; 
	}

.forumSubtopic { 
	font-size: 10px; 
	color: #000; 
	font-weight: bold; 
	font-style: normal; 
	background-color: #EEE; 
	text-align: left;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 20px;
	padding-right: 6px;
	}

.forumSubject { 
	font-size: 10px; 
	color: #000; 
	font-weight: normal; 
	font-style: normal; 
	line-height: 13px;
	text-align: left;
	background-color: #CCC; 
	padding: 6px;
	}

.forumSubjectCenter { 
	font-size: 10px; 
	color: #000; 
	font-weight: normal; 
	font-style: normal; 
	line-height: 13px;
	text-align: center;
	background-color: #CCC; 
	padding: 6px;
	}

.forumSubjectMessage { 
	font-size: 10px; 
	color: #000; 
	font-weight: normal; 
	font-style: normal; 
	line-height: 13px;
	text-align: left;
	background-color: #FFF; 
	padding: 6px;
	}

.forumText { 
	font-size: 10px; 
	color: #000; 
	font-weight: normal; 
	font-style: normal; 
	line-height: 13px;
	text-align: left;
	background-color: #EEE; 
	padding: 6px;
	}

.forumTextCenter { 
	font-size: 10px; 
	color: #000; 
	font-weight: normal; 
	font-style: normal; 
	line-height: 13px;
	text-align: center;
	background-color: #EEE; 
	padding: 6px;
	}

.forumTitle { 
	font-size: 10px; 
	color: #FFF; 
	font-weight: bold; 
	font-style: normal; 
	text-align: left;
	background-color: #547584; 
	padding: 6px;
	}

.forumTitleCenter { 
	font-size: 10px; 
	color: #FFF; 
	font-weight: bold; 
	font-style: normal; 
	text-align: center;
	background-color: #547584; 
	padding: 6px;
	}

.forumUnits { 
	font-size: 10px; 
	color: #000; 
	font-weight: normal; 
	font-style: normal; 
	line-height: 13px;
	background-color: #FC3; 
	padding: 6px;
	}

.foundItems { 
	font-size: 10px;
	color: #013466; 
	font-weight: normal; 
	font-style: normal; 
	text-align: left;
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	}

.head { 
	color: #FFF; 
	background: #000; 
	}

.headRight { 
	color: #FFF; 
	background: #000; 
	text-align: right;
	}

.headStripe { 
	background: #333; 
	}

.leftColumn { 
	background: #CCC; 
	}

.leftHead { 
	font-size: 10px; 
	color: #FFF; 
	font-weight: bold; 
	font-style: normal; 
	vertical-align: middle;
	background: #43515E; 
	text-align: left;
	}

.leftHeadSmall { 
	font-size: 9px; 
	color: #FFF; 
	font-weight: bold; 
	font-style: normal; 
	vertical-align: middle;
	background: #43515E; 
	text-align: left;
	}

.leftNav { 
	background: #FC3 url(images/leftNavBkgd.gif); 
	}

.leftNavSmall { 
	font-size: 9px; 
	color: #43515E; 
	font-style: normal; 
	font-weight: normal; 
	line-height: 11px;
	padding-top: 3px;
	padding-bottom: 8px;
	}

.leftNavText { 
	font-size: 10px; 
	color: #43515E; 
	font-style: normal; 
	font-weight: bold; 
	line-height: 12px;
	padding-top: 3px;
	padding-bottom: 3px;
	}

A.leftNavLinks:link { 
	color: #43515E; 
	text-decoration: none; 
	}
A.leftNavLinks:visited { 
	color: #43515E; 
	text-decoration: none; 
	}
A.leftNavLinks:hover { 
	color: #F00; 
	text-decoration: underline; 
	}
A.leftNavLinks:active { 
	color: #F00; 
	text-decoration: underline; 
	}

.login { 
	font-size: 10px; 
	color: #FFF; 
	font-style: normal; 
	font-weight: bold; 
	}

.loginCenter { 
	font-size: 10px; 
	color: #FFF; 
	font-style: normal; 
	font-weight: bold; 
	text-align: center;
	}

A.loginLinks:link { 
	color: #F90; 
	text-decoration: none; 
	}
A.loginLinks:visited { 
	color: #F90; 
	text-decoration: none; 
	}
A.loginLinks:hover { 
	color: #CCC; 
	text-decoration: underline; 
	}
A.loginLinks:active { 
	color: #CCC; 
	text-decoration: underline; 
	}

.loginButton { 
	font-family: "Verdana", "Arial", "Helvetica", sans-serif; 
	font-size: 11px; 
	color: #FFF; 
	font-style: normal; 
	font-weight: bold; 
	}

.loginForm { 
	font-family: "Verdana", "Arial", "Helvetica", sans-serif; 
	font-size: 11px; 
	color: #000; 
	font-style: normal; 
	font-weight: normal; 
	background-color: #FFF; 
	}

.loginTitle { 
	font-size: 10px; 
	font-weight: normal; 
	font-style: normal; 
	background-color: #000; 
	padding: 0px; 
	}

.middle { 
	background: #FFF; 
	margin: 0px;
	}

A.more:link { 
	font-size: 9px; 
	color: #00F; 
	font-weight: bold; 
	text-decoration: none; 
	}
A.more:visited { 
	font-size: 9px; 
	color: #00F; 
	font-weight: bold; 
	text-decoration: none; 
	}
A.more:hover { 
	font-size: 9px; 
	color: #F00; 
	font-weight: bold; 
	text-decoration: underline; 
	}
A.more:active { 
	font-size: 9px; 
	color: #F00; 
	font-weight: bold; 
	text-decoration: underline; 
	}

.normal { 
	text-align: left;
	line-height: 18px;
	}

.normalCenter { 
	text-align: center;
	line-height: 18px;
	}

.register { 
	background-color: #547584; 
	}

.registerForm { 
	font-family: "Verdana", "Arial", "Helvetica", sans-serif; 
	font-size: 10px; 
	color: #000; 
	font-style: normal; 
	font-weight: normal; 
	}

.registerLabel { 
	font-size: 10px; 
	color: #FFF; 
	font-style: normal; 
	font-weight: normal; 
	text-align: right;
	}

.registerButton { 
	font-size: 11px; 
	color: #FFF; 
	font-style: normal; 
	font-weight: bold; 
	background-color: #547584; 
	}

.registerSmall { 
	font-size: 9px; 
	color: #FFF; 
	font-style: normal; 
	font-weight: normal; 
	text-align: left;
	}

.registerText { 
	font-size: 10px; 
	color: #FFF; 
	font-style: normal; 
	font-weight: normal; 
	}

.registerTextCenter { 
	font-size: 10px; 
	color: #FFF; 
	font-style: normal; 
	font-weight: normal; 
	text-align: center;
	}

A.registerLinks:link { 
	color: #F90; 
	text-decoration: none; 
	}
A.registerLinks:visited { 
	color: #F90; 
	text-decoration: none; 
	}
A.registerLinks:hover { 
	color: #CCC; 
	text-decoration: underline; 
	}
A.registerLinks:active { 
	color: #CCC; 
	text-decoration: underline; 
	}

.rightColText { 
	font-size: 11px; 
	color: #000; 
	font-weight: normal; 
	font-style: normal; 
	text-align: left;
	line-height: 15px;
	}

.rightColGray { 
	font-size: 11px; 
	color: #999; 
	font-weight: normal; 
	font-style: normal; 
	text-align: left;
	line-height: 15px;
	}

.rightColDisplay { 
	font-size: 11px; 
	color: #00F; 
	font-weight: bold; 
	font-style: normal; 
	text-align: left;
	line-height: 18px;
	}

.search { 
	font-size: 10px; 
	color: #FFF; 
	font-style: normal; 
	font-weight: normal; 
	background-color: #43515E; 
	}

.searchButton { 
	font-family: "Verdana", "Arial", "Helvetica", sans-serif; 
	font-size: 11px; 
	color: #FFF; 
	font-style: normal; 
	font-weight: bold; 
	background-color: #43515E; 
	}

.searchForm { 
	font-size: 11px; 
	color: #000; 
	font-style: normal; 
	font-weight: normal; 
	}

.searchResults { 
	font-size: 10px;
	color: #013466; 
	font-weight: bold; 
	font-style: normal; 
	text-align: left;
	padding-top: 5px;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
	}

.small { 
	font-size: 9px; 
	text-align: left;
	line-height: 12px;
	}

strong { 
	font-weight: bold; 
	}

.subhead { 
	font-size: 17px;
	color: #013466; 
	font-weight: bold; 
	font-style: normal; 
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	}

TD { 
	font-family: "Verdana", "Arial", "Helvetica", sans-serif; 
	font-size: 12px; 
	color: #000; 
	font-weight: normal; 
	font-style: normal; 
	}

.topNav { 
	color: #FFF; 
	font-size: 10px; 
	font-weight: normal; 
	font-style: normal; 
	background: #C00 url(images/navBarBkgd.gif); 
	}

A.topNavLinks:link { 
	color: #FFF; 
	text-decoration: none; 
	}

A.topNavLinks:visited { 
	color: #FFF; 
	text-decoration: none; 
	}

A.topNavLinks:hover { 
	color: #CCC; 
	text-decoration: none; 
	}

A.topNavLinks:active { 
	color: #CCC; 
	text-decoration: none; 
	}
	
.version { 
	font-size: 17px;
	color: #013466; 
	font-weight: normal; 
	font-style: normal; 
	}

.viewMessages { 
	font-size: 10px; 
	font-weight: bold; 
	font-style: normal; 
	text-align: left;
	}