#studio_menu UL LI
{
	padding-left: 1px;
	width: 106px;
}

#studio_menu UL LI.right
{
	background-position: -8px 0px;
	background-image: url(../../i/v4/right_studio_menu.png);
	background-repeat: no-repeat;
	width: 130px;
}

/*************
	ADDED
**************/
#loginform #middle {
	margin-left:10px;
}

#loginform .register {
	margin-top:60px;
	margin-left:0px;
	font-size:14px;
}	

#loginform #right {
	margin-right:10px;
}

.how-it-works-title {
    font-weight : 100;
}
