<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
 "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>


<servlet>
  <servlet-name>screening</servlet-name>
  <display-name>screening</display-name>
  <description>The main controller servlet</description>
  <servlet-class>com.topcoder.web.screening.controller.MainServlet</servlet-class>

  <!-- Controller parameters -->
  <init-param>
    <param-name>processors_package</param-name>
    <param-value>com.topcoder.web.screening.request</param-value>
    <description></description>
  </init-param>
  
  <init-param>
    <param-name>error_page</param-name>
    <param-value>/errorPage.jsp</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>login_page</param-name>
    <param-value>/login.jsp</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>valid_char_list</param-name>
    <param-value>abcdefghijklmnopqrstuvwxyz0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ_</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>controller_url</param-name>
    <param-value>/</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>default_page</param-name>
    <param-value>/index.jsp</param-value>
    <description></description>
  </init-param>

  <!-- URL Parameter constant names -->
  <init-param>
    <param-name>user_id_parameter</param-name>
    <param-value>userId</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>referrer_parameter</param-name>
    <param-value>referrer</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>email_address_parameter</param-name>
    <param-value>emailAddress</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>password_parameter</param-name>
    <param-value>password</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>handle_parameter</param-name>
    <param-value>handle</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>redirect_parameter</param-name>
    <param-value>redir</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>message_parameter</param-name>
    <param-value>msg</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>first_attempt_parameter</param-name>
    <param-value>firstVisit</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>request_processor_parameter</param-name>
    <param-value>rp</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>profile_id_parameter</param-name>
    <param-value>profileId</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>profile_name_parameter</param-name>
    <param-value>profileName</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>test_set_a_parameter</param-name>
    <param-value>testSetA</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>test_set_b_parameter</param-name>
    <param-value>testSetB</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>language_parameter</param-name>
    <param-value>language</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>test_set_b_add_parameter</param-name>
    <param-value>testSetBAdd</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>test_set_b_remove_parameter</param-name>
    <param-value>testSetBRemove</param-value>
    <description></description>
  </init-param>

  <!-- Parameters used by Candidate -->
  <init-param>
    <param-name>candidate_info_attribute</param-name>
    <param-value>candidateInfo</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>candidate_setup_page</param-name>
    <param-value>/candidate/candidateSetup.jsp</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>candidate_list_page</param-name>
    <param-value>/candidate/candidateList.jsp</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>note_list_page</param-name>
    <param-value>/candidate/noteList.jsp</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>note_create_page</param-name>
    <param-value>/candidate/noteCreate.jsp</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>update_candidate_default_forward_processor</param-name>
    <param-value>BuildCandidateList</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>update_candidate_create_coder_status_id</param-name>
    <param-value>1</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>max_password_size</param-name>
    <param-value>8</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>candidate_list_query_key</param-name>
    <param-value>candidateList</param-value>
    <description></description>
  </init-param>

  <!-- Profile constants -->
  <init-param>
    <param-name>profile_info_attribute</param-name>
    <param-value>profile</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>profile_lookup_command</param-name>
    <param-value>profileLookup</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>profile_problem_set_query_key</param-name>
    <param-value>profileProblemSet</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>profile_test_set_a_query_key</param-name>
    <param-value>profileTestSetA</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>profile_test_set_b_query_key</param-name>
    <param-value>profileTestSetB</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>profile_company_problem_query_key</param-name>
    <param-value>profileCompanyProblem</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>profile_language_query_key</param-name>
    <param-value>profileLanguageList</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>profile_info_query_key</param-name>
    <param-value>profileInfo</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>profile_problems_query_key</param-name>
    <param-value>profileProblems</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>profile_languages_query_key</param-name>
    <param-value>profileLanguages</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>populate_profile_processor</param-name>
    <param-value>PopulateProfileSetup</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>profile_setup_page</param-name>
    <param-value>/profile/profileSetup.jsp</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>profile_confirm_page</param-name>
    <param-value>/profile/profileConfirm.jsp</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>profile_list_page</param-name>
    <param-value>/profile/profileList.jsp</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>profile_add_problem_processor</param-name>
    <param-value>AddProfileProblems</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>profile_remove_problem_processor</param-name>
    <param-value>RemoveProfileProblem</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>profile_confirm_processor</param-name>
    <param-value>ConfirmProfile</param-value>
    <description></description>
  </init-param>

  <!-- Results constants -->
  <init-param>
    <param-name>problem_result_page</param-name>
    <param-value>/results/problemResults.jsp</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>tc_problem_result_page</param-name>
    <param-value>/results/tcProblemResult.jsp</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>test_results_page</param-name>
    <param-value>/results/testResults.jsp</param-value>
    <description></description>
  </init-param>

  <!-- Problem constants -->
  <init-param>
    <param-name>problem_list_page</param-name>
    <param-value>/problem/problemList.jsp</param-value>
    <description></description>
  </init-param>

  <!-- Common parameters -->
  <init-param>
    <param-name>data_source_name</param-name>
    <param-value>SCREENING_OLTP</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>tx_data_source_name</param-name>
    <param-value>JTS_SCREENING_OLTP</param-value>
    <description></description>
  </init-param>

  <init-param>
    <param-name>dw_data_source_name</param-name>
    <param-value>DW</param-value>
    <description></description>
  </init-param>

</servlet>

<servlet-mapping>
  <servlet-name>screening</servlet-name>
  <url-pattern>/</url-pattern>
</servlet-mapping>

<taglib>
    <taglib-uri>screening.tld</taglib-uri>
    <taglib-location>screening.tld</taglib-location>
</taglib>

</web-app>
