<html>
	<head>
		<title>$action.getText("action.name")</title>
		<meta name="help-path" content="/spaces/help/choosetheme.vm"/>


    </head>

    #applyDecorator("root")
        #decoratorParam("helper" $action.spaceHelper)
        #decoratorParam("context" "space-administration")
        #decoratorParam("mode"  "view-space-administration")

        <body>
            #applyDecorator ("root")
                #decoratorParam ("context" "spaceadminpanel")
                #decoratorParam ("selection" "choosetheme")
                #decoratorParam ("title" "Space Theme")
                #decoratorParam ("selectedTab" "admin")
                #decoratorParam("helper" $action.spaceHelper)

                #parse ("/templates/leftnav/common-configuretheme.vm")
            #end
        </body>
    #end
</html>