<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
 "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>
<servlet>
  <servlet-name>MainServlet</servlet-name>
  <display-name>MainServlet</display-name>
  <description>Main Controller of Topcoder Corporate</description>
  <servlet-class>com.topcoder.web.corp.controller.MainServlet</servlet-class>

  <init-param>
    <param-name>processor-static</param-name>
    <param-value>com.topcoder.web.corp.request.Static</param-value>
    <description>handles primary registration page</description>
  </init-param>

  <init-param>
    <param-name>processor-prim-reg</param-name>
    <param-value>com.topcoder.web.corp.request.Registration</param-value>
    <description>handles primary registration page</description>
  </init-param>

  <init-param>
    <!--
         this page will be accessed via forward only, so it must be specified
         from application root, servlet context path is not allowed. First slash
         is required
    -->
    <param-name>page-generic-error</param-name>
    <param-value>/error.jsp</param-value>
    <description>All of the controller exceptions will return this to user</description>
  </init-param>

</servlet>



<servlet-mapping>
  <servlet-name>MainServlet</servlet-name>
  <url-pattern>/</url-pattern>
</servlet-mapping>

<taglib>
    <taglib-uri>tc-webtags.tld</taglib-uri>
    <taglib-location>/WEB-INF/classes</taglib-location>
</taglib>


</web-app>
