<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_3.dtd">

<web-app>
    <servlet>
        <servlet-name>ServletRedirector</servlet-name>
        <servlet-class>org.apache.cactus.server.ServletTestRedirector</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>JUnitEETestServlet</servlet-name>
        <description>JUnitEE test harness</description>
        <servlet-class>org.junitee.servlet.JUnitEEServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletRedirector</servlet-name>
        <url-pattern>/ServletRedirector</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>JUnitEETestServlet</servlet-name>
        <url-pattern>/TestServlet/*</url-pattern>
    </servlet-mapping>

    <ejb-ref>
        <ejb-ref-name>com.topcoder.apps.review.projecttracker.ProjectTrackerHome</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>com.topcoder.apps.review.projecttracker.ProjectTrackerHome</home>
        <remote>com.topcoder.apps.review.projecttracker.ProjectTracker</remote>
    </ejb-ref>

<!--
    <ejb-ref>
        <ejb-ref-name>security/PrincipalMgr</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>com.topcoder.security.admin.PrincipalMgrRemoteHome</home>
        <remote>com.topcoder.security.admin.PrincipalMgrRemote</remote>
    </ejb-ref>

    <ejb-ref>
        <ejb-ref-name>security/PolicyMgr</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>com.topcoder.security.admin.PolicyMgrRemoteHome</home>
        <remote>com.topcoder.security.admin.PolicyMgrRemote</remote>
    </ejb-ref>
-->

    <ejb-local-ref>
        <ejb-ref-name>projecttracker/UserManager</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local-home>com.topcoder.apps.review.projecttracker.UserManagerLocalHome</local-home>
        <local>com.topcoder.apps.review.projecttracker.UserManagerLocal</local>
        <ejb-link>/persistence.jar#UserManager</ejb-link>
    </ejb-local-ref>

    <ejb-local-ref>
        <ejb-ref-name>projecttracker/ProjectTracker</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local-home>com.topcoder.apps.review.projecttracker.ProjectTrackerLocalHome</local-home>
        <local>com.topcoder.apps.review.projecttracker.ProjectTrackerLocal</local>
        <ejb-link>/persistence.jar#ProjectTracker</ejb-link>
    </ejb-local-ref>

    <ejb-local-ref>
        <ejb-ref-name>document/DocumentManager</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local-home>com.topcoder.apps.review.document.DocumentManagerLocalHome</local-home>
        <local>com.topcoder.apps.review.document.DocumentManagerLocal</local>
        <ejb-link>/persistence.jar#DocumentManager</ejb-link>
    </ejb-local-ref>

 
</web-app>
