td.leftnav
{
    border-left: 10px solid #3c78b5;
    border-bottom: 0px solid #003366;;
    border-top: 0px solid #003366;;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.leftnav h1
{
    margin: 0px 0px 0px 0px;
    padding: 2px 2px 2px 2px;
    font-size: 14px;
    color: white;
    background-color: #3c78b5;
}

.leftnav>h1>A:link, h1 A:visited, h1 A:active
{
    text-decoration: none;
}

.leftnav h2 A:link, h1 A:visited, h1 A:active
{
    margin: 0px;
    padding: 0px;
    padding-top: 2px;
    font-size: 12px;
    color: white;
    background-color: #3c78b5;
}

.leftnav>h2>A:link, h1 A:visited, h1 A:active
{
    text-decoration: none;
}

.leftnav ul
{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.leftnav li
{
    margin: 0px;
    padding: 2px;
    font-weight: bold;
}

.leftnav li.current
{
    background-color: #487bb7
}

.leftnav li.current a
{
   color: #3c78b5;
}


.leftnav a
{
    text-decoration: none;
}

.leftnav a:hover
{
    color: #3c78b5;
    text-decoration: none;
}


.leftnav .information-block
{
   display: none;
}
