<!-- 5730456168199 -->
<html lang="en" xml:lang="en">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="en"/>


    <title>bla bla</title>
    <meta name="description" content="Find old submissions and meet new submissions as you network, share photos, create blogs, and more at MySpace.com">


    <meta name="keywords" content="submissions networking sharing photos finding submissions blogs journals blogging journaling bands music rate pics join groups forums classifieds online social networking">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <link rel="stylesheet" type="text/css" href="http://x.myspace.com/js/myspace.css">

    <script language="JavaScript">
        randomseed = Date.parse(new Date());
    </script>
    <script type="text/javascript">

        function InsertWatermark(searchtype)
        {
            if ("en-US" != "ja-JP")
            {
                return;
            }
            var strWarning = "CurrOnlySearchEnglish";
            if (document.srch.q.value == strWarning)
            {
                document.srch.q.value = '';
            }
            switch (searchtype)
                    {
                case "tms":
                    document.srch.q.value = strWarning;
                    break;
            }
        }
        function ChangeAction() {
            var searchvalue = document.SearchFormHeader.searchrequest.value;
            if (document.SearchFormHeader.searchrequest.value !== "") {
                if (document.SearchFormHeader.searchtype[1].checked) {

                    document.SearchFormHeader.action = "http://searchresults.myspace.com/index.cfm?fuseaction=advancedFind.results&websearch=1&spotId=3&Mytoken=569633D3-D388-48C0-842DDC4800A138D962557333";

                }
                else if (document.SearchFormHeader.searchtype[0].checked) {

                    document.SearchFormHeader.action = "http://searchresults.myspace.com/index.cfm?fuseaction=advancedFind.web&websearch=1&spotId=3&Mytoken=569633D3-D388-48C0-842DDC4800A138D962557333";

                }
                return true;
            }
        }

        function full(vid)
        {
            var fs = window.open("http://vids.myspace.com/index.cfm?fuseaction=vids.fullscreen&videoid=" + vid,
                    "fsv", "toolbar=no,width=" + screen.availWidth + ",height=" + screen.availHeight
                    + ",status=no,resizable=yes,fullscreen=yes,scrollbars=no");
            fs.focus();
        }
    </script>
    <script type="text/javascript" src="myspaceJS023.js"></script>


    <!-- CMS:en-US:29be3023-326a-4472-b34d-a9cb8ad7be06 -->
    <!-- CMS Placement ID = "" -->
    <!-- End CMS Content -->


</head>
<body bgcolor="e5e5e5" bottommargin="0" leftmargin="0" rightmargin="0" topmargin="0" onLoad="" text="000000" alink="003399" vlink="003399" link="003399">

<script type="text/javascript">if (top != self) {
    top.location.replace(self.location.href);
}</script>
<div id="tipDiv" style="position:absolute; visibility:hidden; z-index:100"></div>
<div align="center">
<style type="text/css">
    #header {
        height: 140px;
    }

    #headerlinks {
        float: left;
        padding-left: 40px;
    }

    input.txt {
        width: 460px
    }

    div#form {
        float: left;
    }

    div#header_search {
        color: #FFF;
        border-size: 1px;
    }

    /*margin:5px;*/
    div#row0 a.active, div#row1 a.active {
        text-decoration: none;
        background-color: #FFF;
        color: #039;
        padding: 5px;
    }

    div#row0 a.inactive, div#row1 a.inactive {
        background-color: transparent;
        text-decoration: none;
        color: #FFF;
        font-weight: normal
    }

    .more {
        color: #f60;
    }

    input#submitBtn {
        padding: 0;
        margin: 0;
        font-size: 80%;
        height: 20px;
        background-color: #FCFDF8
    }

    .show {
        display: block;
        margin-bottom: 3px;
        color: fff;
    }

    .hide {
        display: none;
    }

    div#header_search img {
        display: inline
    }

    .international {
        display: inline
    }

</style>
<script type="text/javascript" src="http://x.myspace.com/js/searchHeader001.js"></script>

<script type="text/javascript">
    var searchMenu = new MySpaceSearchMenu('searchMenu', 'en-US');
    searchMenu.invalidSearchMessage = 'This search term is too short or blank.';
    searchMenu.AddTab('tweb', "Web");
    searchMenu.AddTab('tms', "MySpace");
    searchMenu.AddTab('tpeople', "People");
    //
    searchMenu.AddTab('tmusic', "Music");
    searchMenu.AddTab('tvideos', "Music Videos");
    searchMenu.AddTab('tblog', "Blogs");
    searchMenu.AddTab('tvid', "Videos");
    searchMenu.AddTab('tfilm', "Film");
    searchMenu.AddTab('tbooks', "Books");
    searchMenu.AddTab('tclass', "Classifieds");
    searchMenu.AddTab('tevents', "Events");
    searchMenu.AddTab('tcomedy', "Comedy");
    searchMenu.AddTab('tgroups', "Groups");
    searchMenu.AddTab('tjobs', "Jobs");

    //
    if ('en-US' == 'ja-JP') {
        searchMenu.tabOrder = new Array('tweb', 'tms', 'tpeople', 'tmusic', 'tblog', 'tvid', 'tevents', 'tgroups');
        searchMenu.tabs['tms'].warningMessage = 'Search will be done in English.';
        searchMenu.tabs['tmusic'].warningMessage = 'Search will be done in English.';
        searchMenu.tabs['tblog'].warningMessage = 'Search will be done in English.';
        searchMenu.tabs['tvid'].warningMessage = 'Search will be done in English.';
        searchMenu.tabs['tgroups'].warningMessage = 'Search will be done in English.';
    }
    else
    {
        searchMenu.tabOrder = new Array('tweb', 'tms', 'tpeople', 'tmusic', 'tvideos', 'tblog', 'tvid', 'tfilm', 'tbooks', 'tclass', 'tevents', 'tcomedy', 'tgroups', 'tjobs');
        searchMenu.enableWarningMessages = "false";
    }
    //
</script>
<script type="text/javascript">
    searchMenu.SetSearchTarget("tweb")
</script>


<script language="JavaScript" type="text/javascript" src="http://x.myspace.com/js/core.js"></script>
<script language="JavaScript" type="text/javascript" src="http://x.myspace.com/js/events.js"></script>
<script language="JavaScript" type="text/javascript" src="http://x.myspace.com/js/css.js"></script>
<script language="JavaScript" type="text/javascript" src="http://x.myspace.com/js/coordinates.js"></script>
<script language="JavaScript" type="text/javascript" src="http://x.myspace.com/js/drag.js"></script>
<script language="JavaScript" type="text/javascript" src="http://x.myspace.com/js/dragsort.js"></script>

<script language="JavaScript" type="text/javascript" src="http://x.myspace.com/js/myTopFriends_08.js"></script>

<style>
    #boxes {
        font-family: Arial, sans-serif;
        list-style-type: none;
        margin: 10px;
        padding: 4px;
        align: center;
    }

    #boxes  li {
        cursor: move;
        position: relative;
        float: left;
        clear: top;
        margin: 2px 2px 0px 0px;
        border: 1px solid #000;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        height: 118;
        width: 88;
        background-color: red;
    }

    #boxes li img {
        max-height: 95;
    }

    .handle {
        font-size: 14px;
        font-family: Arial, sans-serif;
        border: 1px solid #aaa;
        cursor: move;
        height: 14px;
        border-width: 0px 0px 1px 0px;
        background: #666;
        color: #eee;
        padding: 2px 6px;
        margin: 0px;
    }

    div.topFriendslabel {
        font-size: 18px;
        width: 776;
        position: relative;
        display: block;
        clear: both;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }
</style>


<div align="center" ID="searchBox">


<table border="0" cellspacing="0" cellpadding="0" width="800" bordercolor="000000" bgcolor="white">
<tr>
    <td align="center">
        <table width="780" cellspacing="0" cellpadding="2" border="0">
            <tr>
                <td><a href="http://profile.myspace.com/index.cfm?fuseaction=user.viewprofile&friendID=4160110">Back to
                    nick's Profile</a>

                </td>

            </tr>
        </table>
    </td>
</tr>

<tr>
<td width="645" height="33" bgcolor="ffffff">
<table bordercolor="000000" height="80%" cellspacing="0" cellpadding="0" width="800" bgcolor="ffffff" border="0">
<tr>

    <td height="33" valign="top">
        <table border="0" cellspacing="0" cellpadding="10">
            <tr>
                <td valign="top"><span class="blacktext12"><font color="CC0000">Edit Your Top Friends!</font></span><br>
                </td>
            </tr>

            <tr>
                <td>
                    <form action="http://editprofile.myspace.com/index.cfm" method="get" name="PageForm" id="PageForm">
                        <input type="Hidden" name="fuseaction" value="user.editTopFriends">
                        <input type="hidden" name="UserName" value="nick">
                        <input type="hidden" name="f_search" value="">

                        <input type="hidden" name="searchby" value="first">
                        <input type="hidden" name="page" value="">
                        <input type="hidden" name="finalpage" value="">
                        <input type="hidden" name="prevPage" value="0">

                        <input type="hidden" name="lastpage" value="0">
                        <input type="hidden" name="PREVPageLASTONERETURENED" value="94007666">
                        <input type="hidden" name="PREVPageFirstONERETURENED" value="75952">

                        <input type="hidden" name="TotalRecords" value="43">
                        <input type="hidden" name="myTopFriends" value="17086035,4977936,42553910,35486247,41198781,94007666,98160341,49029369">

                        <select name="topNumber" onchange="changeTopNumber(this.value);"></select>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        Just Drag-and-drop your buddies into the "Top Friends" area - the red squares.
                        Browse through your submissions as much as you like without losing your work -- save only when
                        you're done!
                    </div>
                    <br>

                    <div>Please Note: You can only order your Top Friends.
                        [<a href="##" onclick="javascript:helpFriends();">help</a>]
                    </div>
                </td>
            </tr>

        </table>
    </td>

    <td>
        <div>


        </div>
    </td>
    <td>&nbsp;&nbsp;</td>
</tr>

<tr valign="top">
<td align="center" colspan="3">
<table width="780" cellspacing="0" cellpadding="2" border="0">
    <tr>
        <td>


            <script language="JavaScript">
                <!--
                function NextPage(page)
                {
                    document.PageForm.page.value = page;
                    document.PageForm.submit();
                }
                //-->
            </script>


        </td>
    </tr>
</table>

<table width="780" cellspacing="0" cellpadding="2" border="0" bgcolor="6699cc">
<tr valign="top">
<td>
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="FFFFFF">
<tr valign="top">
<td height="117">
<table width="100%" border="0" cellspacing="0" cellpadding="7" bgcolor="6699cc">

    <tr valign="top">
        <form action="?#SaveBlock" name="saveForm" id="saveForm">
            <td colspan="2">
                <font color="FFFFFF" size="3">Top <span ID="currentNumber">8</span>!...&nbsp;&nbsp;&nbsp;(1,000,000
                    submissions!) ok fine, i exaggerated</font>&nbsp;&nbsp;
                <a name="SaveBlock" id="SaveBlock"></a><input type="button" name="saver" id="saver" value=" Save " onClick="javascript:bigSave();return false;">
            </td>
        </form>
    </tr>
</table>


<ul ID="boxes">


<li class="box" title="17086035">A<br><img src="A.png" width="75" onload="maxImage(this);"></li>


<li class="box" title="4977936">B<br><img src="B.png" width="75" onload="maxImage(this);"></li>


<li class="box" title="42553910">C<br><img src="C.png" width="75" onload="maxImage(this);"></li>


<li class="box" title="35486247">D<br><img src="D.png" width="75" onload="maxImage(this);"></li>


<li class="box" title="41198781">E<br><img src="E.png" width="75" onload="maxImage(this);"></li>


<li class="box" title="94007666">F<br><img src="F.png" width="75" onload="maxImage(this);"></li>


<li class="box" title="98160341">G<br><img src="G.png" width="75" onload="maxImage(this);"></li>


<li class="box" title="49029369">H<br><img src="H.png" width="75" onload="maxImage(this);"></li>
<!--
            <li class="box" title="170860350">I<br><img src="I.png" width="75" onload="maxImage(this);"></li>
        
        
        
        
            
            <li class="box" title="49779360">J<br><img src="J.png" width="75" onload="maxImage(this);"></li>
        
        
        
        
            
            <li class="box" title="425539100">K<br><img src="K.png" width="75" onload="maxImage(this);"></li>
        
        
        
        
            
            <li class="box" title="354862470">L<br><img src="L.png" width="75" onload="maxImage(this);"></li>
        
        
        
        
            
            <li class="box" title="411987810">M<br><img src="M.png" width="75" onload="maxImage(this);"></li>

        
        
        
        
            
            <li class="box" title="940076660">N<br><img src="N.png" width="75" onload="maxImage(this);"></li>
        
        
        
        
            
            <li class="box" title="981603410">O<br><img src="O.png" width="75" onload="maxImage(this);"></li>
        
        
        
        
            
            <li class="box" title="490293690">P<br><img src="P.png" width="75" onload="maxImage(this);"></li>
            <li class="box" title="1708603500">Q<br><img src="Q.png" width="75" onload="maxImage(this);"></li>
        
        
        
        
            
            <li class="box" title="497793600">R<br><img src="R.png" width="75" onload="maxImage(this);"></li>
        
        
        
        
            
            <li class="box" title="4255391000">S<br><img src="S.png" width="75" onload="maxImage(this);"></li>
        
        
        
        
            
            <li class="box" title="3548624700">T<br><img src="T.png" width="75" onload="maxImage(this);"></li>
        
        
        
        
            
            <li class="box" title="4119878100">U<br><img src="U.png" width="75" onload="maxImage(this);"></li>

        
        
        
        
            
            <li class="box" title="9400766600">V<br><img src="V.png" width="75" onload="maxImage(this);"></li>
        
        
        
        
            
            <li class="box" title="9816034100">W<br><img src="W.png" width="75" onload="maxImage(this);"></li>
        
        
        
        
            
            <li class="box" title="4902936900">X<br><img src="X.png" width="75" onload="maxImage(this);"></li>
-->


</ul>

<div style="clear: both;"><br></div>
</td>
</tr>

</table>
</td>
</tr>
</table>
<table width="780" cellspacing="0" cellpadding="2" border="0">
    <tr>
        <td>
            <script language="JavaScript">
                <!--
                function NextPage(page)
                {
                    document.PageForm.page.value = page;
                    document.PageForm.submit();
                }
                //-->
            </script>


            <table border="0" cellspacing="2" cellpadding="0" width="100%">
                <tr>
                    <td colspan="4">
                        <table width=100% border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td nowrap>Listing
                                    2-41 of
                                    43&nbsp;&nbsp;&nbsp;</td>
                                <td align="center" nowrap>


                                    1&nbsp;&nbsp;


                                    <a href="javascript:NextPage(1)">2</a>&nbsp;&nbsp;


                                    of&nbsp;

                                    <a href="javascript:NextPage('1')">2</a>

                                </td>
                                <td align="right" width="150" nowrap>


                                    <a href="javascript:NextPage('1')">Next</a> &gt;


                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>
<br><br>

</td>
</tr>
</table>
</td>
</tr>
</table>
</div>


<script language="JavaScript" type="text/javascript">
    myTrigger1(8, 'Top');
</script>


<style type="text/css">div#msft {
    background-color: #e5e5e5;
    width: 100%;
    text-align: center;
    line-height: 2em;
}

div#msft a {
    color: #039;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: underline;
    font-size: 8pt;
}

div#msft a#cprt {
    color: #000;
    font-weight: normal;
    font-size: 90%;
}

div#msft a:hover {
    color: #39e !important;
}</style>
<div id="msft">

    <a href="http://www.myspace.com/Modules/Common/Pages/AboutUs.aspx" target="_blank">About</a> |
    <a href="http://www.myspace.com/index.cfm?fuseaction=misc.faq" target="_blank">FAQ</a> |
    <a href="http://www.myspace.com/Modules/Common/Pages/TermsConditions.aspx" target="_blank">Terms</a> |
    <a href="http://www.myspace.com/Modules/Common/Pages/Privacy.aspx" target="_blank">Privacy</a> |
    <a href="http://www.myspace.com/Modules/Common/Pages/SafetyTips.aspx" target="_blank">Safety Tips</a> |
    <a href="http://www.myspace.com/index.cfm?fuseaction=misc.contact" target="_blank">Contact MySpace</a> |


    <a href="http://www.myspace.com/Modules/Common/Pages/Promote.aspx" target="_blank">Promote!</a> |
    <a href="http://collect.myspace.com/misc/advertise.cfm?&Mytoken=569633D3-D388-48C0-842DDC4800A138D962557333" target="_blank">Advertise</a>
    |

    <a href="http://www.myspace.com/modules/internationallink/pages/internaltionallink.aspx">MySpace International</a>
    <br/>&copy;2003-2006 MySpace.com. All Rights Reserved.
</div>
<!-- traffic tracking start -->

<!-- traffic tracking end -->


<script src="http://x.myspace.com/js/urchin001.js" type="text/javascript"></script>
<script type="text/javascript">
    var gA = [];
    gA.push(readCookie("MSCOUNTRY"));
    gA.push(readFuse());
    _uacct = "UA-812293-1";
    _udn = "myspace.com";
    var as_extra = '/Adsense';
    if (typeof(google_ad_output) == "undefined" || google_ad_output == null || google_ad_output == '') {
        as_extra = '/NoAdsense';
    }
    urchinTracker(gA.join("/") + as_extra);
</script>


<IFRAME SRC="" NAME="oln328812901xyz886966880" ID="oln328812901xyz886966880" STYLE="border:0px;width:0px;height:0px;"></IFRAME>
<SCRIPT TYPE="text/javascript">
    onlineNowInfoURL = "http://onlinenow.myspace.com/OnlineNow/UsersOnline.html";
    javaScriptURL = "http://x.myspace.com";
    ImageStore = new Array();
    ImageStore[0] = new Object();
    ImageStore[0].url = "http://i.myspace.com";
    ImageStore[0].baseID = 0;
    clearImage = new Image();
    clearImage.src = "http://x.myspace.com/images/clear.gif";
    onlineNowImage = new Image();
    onlineNowImage.src = "http://x.myspace.com/images/onlinenow.gif";
</SCRIPT>
<SCRIPT TYPE="text/javascript" DEFER="DEFER">
    window.setTimeout("onlineNowNodeParser=new OnlineNowNodeParser(\"oln328812901xyz886966880\");onlineNowNodeParser.run();", 100);
</SCRIPT>


</body>
</html>


<script src="http://cache.static.userplane.com/presence/m/f.js" language="javascript" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
    <!--
    up_runPresence('BgmH9wWK9hGWkBou3YIzr/CKgLu8by5oQ+cY8k9kEIctH3Ym5/GnkUFnWDePcGRO');
    //-->
</script>

<!-- onRequestEnd -->

    



