/* Body Style */
.admin { background-color: #6C6C6C; }

.adminBreadcrumb
{
	font-size: 11px;
	color: #FFF;
	font-style: normal;
	font-weight: normal;
	background-color: #373737;
	padding: 6px;
}

.adminButton
{
	font-size: 11px;
	color: #FFF;
	font-style: normal;
	font-weight: bold;
	background-color: #00F;
}

.adminControl
{
	font-size: 11px;
	color: #FFF;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	background-color: #547584;
}

.adminControlSmall
{
	font-size: 10px;
	color: #FFF;
	font-style: normal;
	font-weight: normal;
	line-height: 12px;
	text-align: center;
	background-color: #547584;
}

.adminControlButton
{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 11px;
	color: #FFF;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	background-color: #547584;
}

.adminControlForm
{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 12px;
	color: #000;
	font-style: normal;
	font-weight: normal;
}

.adminControlTitle
{
	font-size: 11px;
	color: #FFF;
	font-style: normal;
	font-weight: normal;
	background-color: #547584;
	text-align: center;
}

.adminErrorText
{
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	color: #C00;
	font-variant: normal;
	background-color: #FF0;
	padding: 5px;
}

.adminForm
{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 12px;
	color: #000;
	font-style: normal;
	font-weight: normal;
}

.adminLabel
{
	font-size: 12px;
	color: #FFF;
	font-style: normal;
	font-weight: normal;
	text-align: right;
}

.adminLeftHead
{
	font-size: 11px;
	color: #FFF;
	font-weight: bold;
	font-style: normal;
	vertical-align: middle;
	background: #505050;
	text-align: left;
}

.adminLeftNav { background: #BABABA url(//images/adminLeftNavBkgd.gif); }

.adminLeftNavSmall
{
	font-size: 10px;
	color: #505050;
	font-style: normal;
	font-weight: normal;
	line-height: 12px;
	padding-top: 3px;
	padding-bottom: 8px;
}

.adminLeftNavText
{
	font-size: 11px;
	color: #00F;
	font-style: normal;
	font-weight: bold;
	line-height: 13px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.adminSearch
{
	font-size: 11px;
	color: #FFF;
	font-style: normal;
	font-weight: normal;
	background-color: #6F6F6F;
}

.adminSmall
{
	font-size: 10px;
	color: #FFF;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.adminSubhead
{
	font-size: 17px;
	color: #333;
	font-weight: bold;
	font-style: normal;
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.adminText
{
	font-size: 12px;
	color: #FFF;
	font-style: normal;
	font-weight: normal;
}

.adminTextCenter
{
	font-size: 12px;
	color: #FFF;
	font-style: normal;
	font-weight: normal;
	text-align: center;
}

.adminTitle
{
	font-size: 12px;
	color: #FFF;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	background-color: #6C6C6C;
	padding: 6px;
}

.adminTitleCenter
{
	font-size: 12px;
	color: #FFF;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #6C6C6C;
	padding: 6px;
}

.adminTopNav
{
	color: #FFF;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	background: #4F4F4F url(//images/navBarAdminBkgd.gif);
}

A:link
{
	color: #00F;
	text-decoration: underline;
}

A:visited
{
	color: #006;
	text-decoration: underline;
}

A:hover
{
	color: #F00;
	text-decoration: none;
}

A:active
{
	color: #F00;
	text-decoration: none;
}

.bigRed
{
	color: #FF0000;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

A.bigRed:link
{
	color: #FF0000;
	text-decoration: underline;
}

A.bigRed:visited
{
	color: #FF0000;
	text-decoration: underline;
}

A.bigRed:hover
{
	color: #990000;
	text-decoration: underline;
}

A.bigRed:active
{
	color: #FF0000;
	text-decoration: underline;
}

.body
{
	background: #FFF;
	margin: 0px;
	border: 0px;
}
.bodySubtitle
{
	font-size: 14px;
	font-weight: bold;
}
.bodyTextSm
{
	font-size: 11px;
	font-weight: normal;
}

.bodyText
{
	color: #333333;
	font-size: 12px;
	line-height: 1.4;
	font-weight: normal;
}

A.bodyText:link
{
	color: #00F;
	text-decoration: underline;
}

A.bodyText:visited
{
	color: #006;
	text-decoration: underline;
}

A.bodyText:hover
{
	color: #F00;
	text-decoration: none;
}

A.bodyText:active
{
	color: #F00;
	text-decoration: none;
}

.breadcrumb
{
	font-size: 11px;
	color: #666;
	font-style: normal;
	font-weight: normal;
	text-align: right;
	padding: 5px;
}

A.breadcrumbLinks:link
{
	color: #00F;
	font-weight: bold;
	text-decoration: none;
}

A.breadcrumbLinks:visited
{
	color: #00F;
	font-weight: bold;
	text-decoration: none;
}

A.breadcrumbLinks:hover
{
	color: #999;
	font-weight: bold;
	text-decoration: underline;
}

A.breadcrumbLinks:active
{
	color: #999;
	font-weight: bold;
	text-decoration: underline;
}

.comingSoon
{
	font-size: 10px;
	color: #C00;
	font-weight: bold;
	font-style: normal;
	white-space: nowrap;
}

.compSearch
{
	font-size: 11px;
	color: #FFF;
	font-style: normal;
	font-weight: bold;
	background-color: #547584;
}

.compSmall
{
	font-size: 10px;
	color: #FFF;
	font-style: normal;
	font-weight: normal;
	line-height: 12px;
	background-color: #547584;
}

.compSearchButton
{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 11px;
	color: #FFF;
	font-style: normal;
	font-weight: bold;
	background-color: #547584;
}

.compSearchForm
{
	font-size: 12px;
	color: #000;
	font-style: normal;
	font-weight: normal;
}

.compSearchTitle
{
	font-size: 11px;
	color: #FFF;
	font-style: normal;
	font-weight: normal;
	background-color: #547584;
	text-align: right;
}

.copyright
{
	font-size: 10px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	text-align: center;
	white-space: nowrap;
	background: #FFF;
	padding-top: 5px;
	padding-bottom: 15px;
}

.display
{
	font-size: 12px;
	text-align: left;
	line-height: 16px;
}

.download
{
	font-size: 10px;
	color: #FFF;
	font-weight: normal;
	font-style: normal;
	background: #E06666;
	padding: 2px;
}

A.download:link
{
	color: #FFF;
	text-decoration: none;
}

A.download:visited
{
	color: #FFF;
	text-decoration: none;
}

A.download:hover
{
	color: #FFF;
	text-decoration: underline;
	background: #F00;
}

A.download:active
{
	color: #FFF;
	text-decoration: underline;
	background: #F00;
}

.edit
{
	font-size: 10px;
	color: #FFF;
	font-weight: normal;
	font-style: normal;
	background: #7777F7;
	padding: 2px;
}

A.edit:link
{
	color: #FFF;
	text-decoration: none;
}

A.edit:visited
{
	color: #FFF;
	text-decoration: none;
}

A.edit:hover
{
	color: #FFF;
	text-decoration: underline;
	background: #00F;
}

A.edit:active
{
	color: #FFF;
	text-decoration: underline;
	background: #00F;
}

.errorText
{
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	color: #CC0000;
	background-color: #FFFF00;
	padding: 5px;
}

.footer
{
	font-size: 11px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	text-align: center;
	white-space: nowrap;
	background: #EEE;
	padding-top: 5px;
	padding-bottom: 5px;
}

.footerStripe { background: #CCC; }

A.footerLinks:link
{
	color: #00F;
	text-decoration: none;
}

A.footerLinks:visited
{
	color: #006;
	text-decoration: none;
}

A.footerLinks:hover
{
	color: #F00;
	text-decoration: underline;
}

A.footerLinks:active
{
	color: #F00;
	text-decoration: underline;
}

.forumComponent
{
	font-size: 11px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	background-color: #EEE;
	padding: 5px;
}

.forumCompName
{
	font-size: 18px;
	color: #013466;
	font-weight: bold;
	font-style: normal;
	padding: 5px;
}

.forumDownloads
{
	font-size: 11px;
	color: #00F;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	line-height: 14px;
}

.forumBkgd { background-color: #819DA9; }

.forumHeadFoot { background-color: #547584; }

.forumMessage
{
	font-size: 11px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	line-height: 14px;
	background-color: #FFF;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 60px;
	padding-right: 60px;
}

.forumNewThread
{
	font-size: 11px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	text-align: right;
}

.forumReply
{
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	text-align: center;
	padding: 5px;
}

.forumSearch
{
	font-size: 11px;
	color: #000;
	font-style: normal;
	font-weight: normal;
	background-color: #FFF;
	padding: 5px;
}

.forumSearchButton
{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
}

.forumSearchForm
{
	font-size: 11px;
	color: #000;
	font-style: normal;
	font-weight: normal;
}

.forumSubtopic
{
	font-size: 11px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	background-color: #EEE;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 5px;
}

.forumSubject
{
	font-size: 11px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	background-color: #CCC;
	padding: 5px;
}

.forumSubjectCenter
{
	font-size: 11px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	line-height: 14px;
	text-align: center;
	background-color: #CCC;
	padding: 5px;
}

.forumSubjectMessage
{
	font-size: 11px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	line-height: 14px;
	background-color: #CCC;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 40px;
	padding-right: 60px;
}

.forumText { font-size: 11px; }

.forumTextOdd
{
	font-size: 11px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	line-height: 14px;
	text-align: left;
	background-color: #FFF;
	padding: 5px;
}

.forumTextEven
{
	font-size: 11px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	line-height: 14px;
	text-align: left;
	background-color: #EEE;
	padding: 5px;
}

.forumTextCenterOdd
{
	font-size: 11px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	line-height: 13px;
	text-align: center;
	background-color: #FFF;
	padding: 5px;
}

.forumTextCenterEven
{
	font-size: 11px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	line-height: 14px;
	text-align: center;
	background-color: #EEE;
	padding: 5px;
}

.forumThreadEven
{
	font-size: 11px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	background-color: #EEE;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 5px;
}

.forumThreadOdd
{
	font-size: 11px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	background-color: #FFF;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 5px;
}

.forumTitle
{
	font-size: 11px;
	color: #FFF;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	background-color: #547584;
	padding: 5px;
}

A.forumTitleLink:link
{
	color: #FFF;
	font-weight: bold;
	font-style: normal;
	text-decoration: underline;
}

A.forumTitleLink:visited
{
	color: #FFF;
	font-weight: bold;
	font-style: normal;
	text-decoration: underline;
}

A.forumTitleLink:hover
{
	color: #FC3;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
}

A.forumTitleLink:active
{
	color: #FC3;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
}

.forumTitleRight
{
	font-size: 11px;
	color: #FFF;
	font-weight: bold;
	font-style: normal;
	text-align: right;
	background-color: #547584;
	padding: 5px;
}

.forumTitle2
{
	font-size: 11px;
	color: #FFF;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	background-color: #DAE5EB;
	padding: 5px;
}

.forumTitleCenter
{
	font-size: 11px;
	color: #FFF;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #547584;
	padding: 5px;
}

.forumUnits
{
	font-size: 11px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	line-height: 13px;
	background-color: #FC3;
	padding: 5px;
}

.foundItems
{
	font-size: 11px;
	color: #013466;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

H1
{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 200%;
	text-decoration: none;
}

H2
{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 150%;
	text-decoration: none;
}

H3
{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 125%;
	text-decoration: none;
}

.head
{
	color: #FFF;
	background: #000;
}

.headRight
{
	color: #FFF;
	background: #000;
	text-align: right;
}

.headStripe { background: #666; }

html, body
{
	background: #FFF;
	margin: 0px;
	border: 0px;
}

A.left:link
{
	color: #000;
	text-decoration: none;
}

A.left:visited
{
	color: #000;
	text-decoration: none;
}

A.left:hover
{
	color: #F00;
	text-decoration: none;
}

A.left:active
{
	color: #F00;
	text-decoration: none;
}

A.leftOn:link
{
	color: #FFF;
	text-decoration: none;
}

A.leftOn:visited
{
	color: #FFF;
	text-decoration: none;
}

A.leftOn:hover
{
	color: #F00;
	text-decoration: none;
}

A.leftOn:active
{
	color: #F00;
	text-decoration: none;
}

.leftColumn { background: #FFF; }

#leftNav
{
	color: #000;
	font-size: 12px;
	font-weight: bold;
	background-color: #E3E3E3;
	vertical-align: middle;
	padding-left: 5px;
	padding-top: 4px;
	padding-right: 5px;
	padding-bottom: 4px;
	border-style: solid;
	border-left-width: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-color: #7D7D7D;
}

#leftNavApplet
{
	color: #000;
	font-size: 12px;
	font-weight: bold;
	background-color: #FC3;
	vertical-align: middle;
	padding-left: 5px;
	padding-top: 4px;
	padding-right: 5px;
	padding-bottom: 4px;
	border-style: solid;
	border-left-width: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-color: #7D7D7D;
}

#leftNavOn
{
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
	background-image: url(/images/left_nav_select_bkgd.gif);
	background-color: #585858;
	vertical-align: middle;
	padding-left: 5px;
	padding-top: 4px;
	padding-right: 5px;
	padding-bottom: 4px;
	border-style: solid;
	border-left-width: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-color: #585858;
}

#leftNavSelect
{
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
	background-color: #313131;
	vertical-align: middle;
	padding-left: 5px;
	padding-top: 4px;
	padding-right: 5px;
	padding-bottom: 4px;
	border-style: solid;
	border-left-width: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-color: #313131;
}

#leftSubnav
{
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
	background-image: url(/images/left_nav_select_bkgd.gif);
	background-color: #585858;
	vertical-align: middle;
	padding-left: 15px;
	padding-top: 4px;
	padding-right: 5px;
	padding-bottom: 4px;
	border-style: solid;
	border-left-width: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-color: #585858;
}

#leftSubnavOn
{
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
	background-color: #313131;
	vertical-align: middle;
	padding-left: 15px;
	padding-top: 4px;
	padding-right: 5px;
	padding-bottom: 4px;
	border-style: solid;
	border-left-width: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-color: #313131;
}

#leftNavSubtitle
{
	color: #CCC;
	font-size: 12px;
	font-weight: bold;
	background-image: url(/images/left_nav_select_bkgd.gif);
	background-color: #585858;
	vertical-align: middle;
	padding-left: 5px;
	padding-top: 4px;
	padding-right: 5px;
	padding-bottom: 4px;
	border-style: solid;
	border-left-width: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-color: #585858;
}

#leftNavTitle
{
	color: #000;
	font-size: 12px;
	font-weight: bold;
	background-color: #CCC;
	vertical-align: middle;
	padding-left: 5px;
	padding-top: 4px;
	padding-right: 5px;
	padding-bottom: 4px;
	border-style: solid;
	border-left-width: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-color: #7D7D7D;
}

.login
{
	font-size: 10px;
	color: #FFF;
	font-style: normal;
	font-weight: normal;
}

.loginButton
{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 11px;
	color: #FFF;
	font-style: normal;
	font-weight: bold;
}

.loginForm { background-color: #666; }

A.loginLinks:link
{
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

A.loginLinks:visited
{
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

A.loginLinks:hover
{
	color: #FC3;
	font-weight: bold;
	text-decoration: underline;
}

A.loginLinks:active
{
	color: #FC3;
	font-weight: bold;
	text-decoration: underline;
}

.loginText
{
	color: #FFF;
	font-size: 11px;
	font-weight: normal;
	white-space: nowrap;
}

A.loginText:link
{
	color: #FC3;
	font-weight: bold;
	text-decoration: none;
}

A.loginText:visited
{
	color: #FC3;
	font-weight: bold;
	text-decoration: none;
}

A.loginText:hover
{
	color: #C00;
	font-weight: bold;
	text-decoration: underline;
}

A.loginText:active
{
	color: #C00;
	font-weight: bold;
	text-decoration: underline;
}

.loginTitle
{
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	background-color: #000;
	padding: 0px;
}

.middle
{
	background: #FFF;
	margin: 0px;
}

A.more:link
{
	font-size: 10px;
	color: #00F;
	font-weight: bold;
	text-decoration: none;
}

A.more:visited
{
	font-size: 10px;
	color: #00F;
	font-weight: bold;
	text-decoration: none;
}

A.more:hover
{
	font-size: 10px;
	color: #F00;
	font-weight: bold;
	text-decoration: underline;
}

A.more:active
{
	font-size: 10px;
	color: #F00;
	font-weight: bold;
	text-decoration: underline;
}

.nonBreadcrumb { background-color: #000; }

.normal
{
	text-align: left;
	line-height: 18px;
}

.normalCenter
{
	text-align: center;
	line-height: 18px;
}

.normalHead
{
	font-size: 13px;
	color: #013466;
	font-weight: bold;
	text-align: left;
	line-height: 18px;
}

ol
{
	margin-left: 10px;
	padding-left: 10px;
}

ul
{
	margin-left: 10px;
	padding-left: 10px;
}

li
{
	margin-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.pageDivider
{
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	background-color: #577998;
	text-align: left;
	vertical-align: middle;
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}

pre
{
	font-size: 11px;
	color: #112832;
	line-height: normal;
	text-align: left;
}

.prHead
{
	color: #666;
	font-size: 12px;
	font-weight: normal;
}

.prText
{
	color: #000000;
	font-size: 13px;
	line-height: 20px;
	font-weight: normal;
}

.register { background-color: #547584; }

.registerForm
{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 11px;
	color: #000;
	font-style: normal;
	font-weight: normal;
}

.registerLabel
{
	font-size: 11px;
	color: #FFF;
	font-style: normal;
	font-weight: normal;
	text-align: right;
}

.registerButton
{
	font-size: 11px;
	color: #FFF;
	font-style: normal;
	font-weight: bold;
	background-color: #547584;
}

.registerSmall
{
	font-size: 10px;
	color: #FFF;
	font-style: normal;
	font-weight: normal;
	text-align: left;
}

.registerText
{
	font-size: 11px;
	color: #FFF;
	font-style: normal;
	font-weight: normal;
}

.registerTextCenter
{
	font-size: 11px;
	color: #FFF;
	font-style: normal;
	font-weight: normal;
	text-align: center;
}

A.registerLinks:link
{
	color: #F90;
	text-decoration: none;
}

A.registerLinks:visited
{
	color: #F90;
	text-decoration: none;
}

A.registerLinks:hover
{
	color: #CCC;
	text-decoration: underline;
}

A.registerLinks:active
{
	color: #CCC;
	text-decoration: underline;
}

.rightColText
{
	font-size: 11px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	line-height: 13px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.rightColOff
{
	font-size: 11px;
	color: #999;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	line-height: 13px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.rightColDisplay
{
	font-size: 12px;
	color: #00F;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	line-height: 13px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.search
{
	font-size: 11px;
	color: #FFF;
	font-style: normal;
	font-weight: normal;
	background-color: #333333;
}

.searchButton
{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 11px;
	color: #FFF;
	font-style: normal;
	font-weight: bold;
	background-color: #43515E;
}

.searchForm
{
	font-size: 11px;
	color: #000;
	font-style: normal;
	font-weight: normal;
}

.searchResults
{
	font-size: 12px;
	color: #013466;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.small
{
	font-size: 10px;
	text-align: left;
	line-height: 12px;
}

.smallFoot
{
	color: #FFFFFF;
	font-size: 11px;
	font-weight: normal;
}

A.smallFoot:link
{
	color: #CCC;
	text-decoration: none;
}

A.smallFoot:visited
{
	color: #CCC;
	text-decoration: none;
}

A.smallFoot:hover
{
	color: #FFF;
	text-decoration: underline;
}

A.smallFoot:active
{
	color: #FFF;
	text-decoration: underline;
}

.smallText
{
	color: #000000;
	font-size: 11px;
	font-weight: normal;
}

A.smallText:link
{
	color: #CC0000;
	text-decoration: none;
}

A.smallText:visited
{
	color: #990000;
	text-decoration: none;
}

A.smallText:hover
{
	color: #999999;
	text-decoration: underline;
}

A.smallText:active
{
	color: #999999;
	text-decoration: underline;
}

#specialMessage
{
	color: #C00;
	font-size: 11px;
	font-weight: bold;
	background-color: #CC6;
	text-align: left;
	vertical-align: middle;
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}

.statText
{
	color: #FFFFFF;
	font-size: 11px;
	text-decoration: none;
}

A.statText:link
{
	color: #FC3;
	text-decoration: none;
}

A.statText:visited
{
	color: #B98B30;
	text-decoration: none;
}

A.statText:hover
{
	color: #999999;
	text-decoration: underline;
}

A.statText:active
{
	color: #999999;
	text-decoration: underline;
}

.statTextBig
{
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

A.statTextBig:link
{
	color: #FC3;
	text-decoration: none;
}

A.statTextBig:visited
{
	color: #B98B30;
	text-decoration: none;
}

A.statTextBig:hover
{
	color: #999999;
	text-decoration: underline;
}

A.statTextBig:active
{
	color: #999999;
	text-decoration: underline;
}

.statTextLarge
{
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

.statusIcon
{
	vertical-align: top;
	padding-top: 5px;
	padding-bottom: 5px;
}

strong { font-weight: bold; }

.subhead
{
	font-size: 18px;
	color: #013466;
	font-weight: bold;
	font-style: normal;
	background-image: url(/images/componentBkgd.gif);
	background-repeat: repeat-y;
	padding: 5px;
}

TD, TH
{
	font-size: 12px;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	color: #000;
	text-decoration: none;
}

.testFrame { border: 1px solid #999; }

.testHead
{
	font-size: 18px;
	color: #666;
	font-weight: bold;
}

.testHead2
{
	font-size: 18px;
	color: #000;
}

.testHeadSmall
{
	font-size: 16px;
	color: #000;
}

.testTableEven
{
	font-size: 12px;
	color: #000;
	font-weight: normal;
	vertical-align: top;
	background-color: #EEE;
	white-space: nowrap;
}

.testTableOdd
{
	font-size: 12px;
	color: #000;
	font-weight: normal;
	vertical-align: top;
	background-color: #FFF;
	white-space: nowrap;
}

.testTableSubtitleEven
{
	font-size: 12px;
	color: #000;
	font-weight: bold;
	text-align: right;
	vertical-align: middle;
	background-color: #EEE;
	white-space: nowrap;
}

.testTableSubtitleOdd
{
	font-size: 12px;
	color: #000;
	font-weight: bold;
	text-align: right;
	vertical-align: middle;
	background-color: #FFF;
	white-space: nowrap;
}

.testTableTitle
{
	font-size: 12px;
	color: #FFF;
	font-weight: bold;
	vertical-align: middle;
	background-image: url(/images/graybv_lite_bg.gif);
	background-color: #666;
	white-space: nowrap;
}

.testTableTitleSmall
{
	font-size: 12px;
	color: #FFF;
	font-weight: bold;
	vertical-align: middle;
	background-color: #666;
	white-space: nowrap;
}

.testTop
{
	font-size: 12px;
	font-weight: bold;
	vertical-align: middle;
	color: #FFF;
	background-image: url(/images/graybv_lite_bg.gif);
	background-color: #666;
}

.timeline
{
	font-size: 11px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	line-height: 13px;
	text-align: left;
	background-color: #FFF;
	padding: 5px;
}

.timelineHilite
{
	font-size: 11px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	line-height: 14px;
	text-align: left;
	background-color: #FC6;
	padding: 5px;
}

.timelineCenter
{
	font-size: 11px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	line-height: 13px;
	text-align: center;
	background-color: #FFF;
	padding: 5px;
}

.timelineCenterOdd
{
	font-size: 11px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	line-height: 13px;
	text-align: center;
	background-color: #FFF;
	padding: 5px;
}

.timelineCenterEven
{
	font-size: 11px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	line-height: 13px;
	text-align: center;
	background-color: #EEE;
	padding: 5px;
}

.timelineHiliteCenter
{
	font-size: 11px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	line-height: 14px;
	text-align: center;
	background-color: #FC6;
	padding: 5px;
}

.timelineSubtitleCenter
{
	font-size: 11px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	line-height: 13px;
	text-align: center;
	background-color: #EEE;
	padding: 5px;
}

.timelineSubtitle
{
	font-size: 11px;
	color: #000;
	font-weight: normal;
	font-style: normal;
	line-height: 13px;
	text-align: left;
	background-color: #EEE;
	padding: 5px;
}

.timelineTitle
{
	font-size: 11px;
	color: #FFF;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	background-color: #547584;
	padding: 5px;
}

.timelineTitleCenter
{
	font-size: 11px;
	color: #FFF;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	background-color: #547584;
	padding: 5px;
}

.topNavBar
{
	background-color: #900;
	background-image: url(/images/redbv_lite_bg.gif);
}

.topNav
{
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	white-space: nowrap;
	background-color: #900;
	background-image: url(/images/redbv_lite_bg.gif);
	padding-left: 10px;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
}

.topNavOn
{
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	white-space: nowrap;
	background-color: #600;
	background-image: url(/images/redbv_dark_bg.gif);
	padding-left: 10px;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
}

A.topLink:link
{
	color: #FFF;
	white-space: nowrap;
	text-decoration: none;
}

A.topLink:visited
{
	color: #FFF;
	white-space: nowrap;
	text-decoration: none;
}

A.topLink:hover
{
	color: #FC3;
	white-space: nowrap;
	text-decoration: none;
}

A.topLink:active
{
	color: #FC3;
	white-space: nowrap;
	text-decoration: none;
}

.topPage
{
	color: #000;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	text-align: right;
}

.version
{
	font-size: 17px;
	font-weight: normal;
	font-style: normal;
}

.viewMessages
{
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	text-align: left;
}

/* New styles added for this project*/

.grayBkgnd {
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	color: #FFF;
	font-variant: normal;
	background-color: #333;
	padding: 5px;
}

.blackBkgnd {
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	color: #FFF;
	font-variant: normal;
	background-color: #000;
	padding: 5px;
}

.whiteBkgnd {
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	color: #000;
	font-variant: normal;
	background-color: #FFF;
	padding: 5px;
}

.lightBkgnd {
	font-size: 10px;
	font-weight: bold;
	font-style: normal;
	color: #000;
	font-variant: normal;
	background-color: #EEE;
	padding: 5px;
}

.blueBkgnd {
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	color: #000;
	font-variant: normal;
	background-color: #547584;
	padding: 5px;
}

.yellowBkgnd {
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	color: #C00;
	font-variant: normal;
	background-color: #FF0;
	padding: 5px;
}

.tableHeader
{
	font-size: 17px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	color: #333;
	background-color: #FFF;
	padding: 0px 0px 0px 5px;
}

.submitButton { 
	font-family: "Verdana", "Arial", "Helvetica", sans-serif; 
	font-size: 9px; 
	color: #EEE; 
	font-style: normal; 
	font-weight: bold; 
	background-color: #547584;
	padding: 0px; 
	}
