#studio_menu UL LI.left
{
	background-image: url(/i/v4/left_studio_menu_ie.png);
	background-repeat: repeat-x;
}

#studio_menu UL LI.left A
{
	text-align: left;
	background-image: none;
	width: 50px;
	padding-left: 20px;
}

#studio_menu UL LI.left A:hover, #studio_menu UL LI.left A.active { background: url(/i/v4/left_studio_menu_on_ie.png) no-repeat; }

#studio_menu UL LI A
{
	height: 32px;
	background: url(/i/v4/blue_separator.png) no-repeat;
	padding: 12px 0px 0 0;
	line-height: 12px;
	width: 106px;
	text-decoration: none;
	font-size: 93%;
	font-weight: bold;
	color: white;
	display: block;
	text-align: center;
}

#nav UL LI.left
{
	z-index: -3;
	background-position: 0 -128px;
	margin-top: 0px;
	padding-left: 2px;
}

#studio_menu UL LI.right
{
	background-position: -7px 0px;
	background-image: url(/i/v4/right_studio_menu.png);
}

#nav UL UL
{
	background: url(/i/v4/dropdown_nav_background.png) no-repeat bottom;
	display: none;
	width: 180px;
	list-style-type: none;
	position: absolute;
	top: 32px;
	left: 0px;
	z-index: 100;
	margin: 0;
	padding: 0;
}

#nav UL UL LI
{
	height: auto;
	background-image: none;
	list-style: none;
	margin: 0;
	padding: 0;
}

#nav UL UL LI A
{
	background: url(/i/v4/dropdown_nav_divider.png) no-repeat;
	height: 20px;
	display: block;
	width: 180px;
	color: #e9e9e9;
	text-align: left;
	line-height: 16px;
	padding: 13px 0 8px 12px;
	vertical-align: middle;
}

#nav UL UL LI A:hover
{
	background-color: #eeeeee;
	color: #000;
	margin: 1px 1px 0px 1px;
	width: 178px;
	padding-top: 12px;
	padding-left: 11px;
	height: 20px;
}

#nav UL UL LI.last-li A:hover
{
	background-color: none;
	background: url(/i/v4/li-bottom-background.png) bottom no-repeat;
	color: #000;
	margin: 0px !important;
	padding: 13px 0 8px 12px !important;
	width: 180px;
}

/********************
	Login Form
*******************/
#loginform {
	display:none;
}

#loginform #middle {
	margin-left:10px;
}

#loginform .register {
	margin-top:10px;
	margin-left:0px;
	font-size:14px;
}


#contentImgFullSize .previewImg {
    /*For ie6*/
	width:expression((documentElement.clientWidth < 50) ? "50px" : "auto" );
	height:expression((documentElement.clientHeight < 50) ? "50px" : "auto" );
}
