<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory name="java:comp/env/hibernate/SessionFactory">

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.InformixDialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <mapping resource="com/topcoder/web/reg/model/User.hbm.xml"/>
        <mapping resource="com/topcoder/web/reg/model/UserAddress.hbm.xml"/>
        <mapping resource="com/topcoder/web/reg/model/Coder.hbm.xml"/>
        <mapping resource="com/topcoder/web/reg/model/Rating.hbm.xml"/>
        <mapping resource="com/topcoder/web/reg/model/Address.hbm.xml"/>
        <mapping resource="com/topcoder/web/reg/model/Email.hbm.xml"/>

    </session-factory>

</hibernate-configuration>

