<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

<!--
    <session-factory name="java:comp/env/hibernate/SessionFactory">
-->

<!--
        <property name="connection.datasource">java:/JTS_HS_OLTP</property>
-->
        <!-- for testing-->
        <property name="connection.username">coder</property>
        <property name="connection.password">altec</property>
        <property name="connection.url">jdbc:informix-sqli://65.112.118.221:1526/hs_informixoltp:INFORMIXSERVER=devinformix10_shm</property>
        <property name="connection.driver_class">com.informix.jdbc.IfxDriver</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.InformixDialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="hibernate.query.substitutions">true 1, false 0</property>

        <mapping resource="com/topcoder/web/reg/model/Address.hbm.xml"/>
        <mapping resource="com/topcoder/web/reg/model/AlgoRating.hbm.xml"/>
        <mapping resource="com/topcoder/web/reg/model/Coder.hbm.xml"/>
        <mapping resource="com/topcoder/web/reg/model/CoderType.hbm.xml"/>
        <mapping resource="com/topcoder/web/reg/model/Company.hbm.xml"/>
        <mapping resource="com/topcoder/web/reg/model/Contact.hbm.xml"/>
        <mapping resource="com/topcoder/web/reg/model/Country.hbm.xml"/>
        <mapping resource="com/topcoder/web/reg/model/CurrentSchool.hbm.xml"/>
        <mapping resource="com/topcoder/web/reg/model/DemographicAnswer.hbm.xml"/>
        <mapping resource="com/topcoder/web/reg/model/DemographicQuestion.hbm.xml"/>
        <mapping resource="com/topcoder/web/reg/model/DemographicResponse.hbm.xml"/>
        <mapping resource="com/topcoder/web/reg/model/Email.hbm.xml"/>
        <mapping resource="com/topcoder/web/reg/model/Notification.hbm.xml"/>
        <mapping resource="com/topcoder/web/reg/model/Phone.hbm.xml"/>
        <mapping resource="com/topcoder/web/reg/model/RegistrationType.hbm.xml"/>
        <mapping resource="com/topcoder/web/reg/model/School.hbm.xml"/>
        <mapping resource="com/topcoder/web/reg/model/SchoolType.hbm.xml"/>
        <mapping resource="com/topcoder/web/reg/model/SecurityGroup.hbm.xml"/>
        <mapping resource="com/topcoder/web/reg/model/State.hbm.xml"/>
        <mapping resource="com/topcoder/web/reg/model/TimeZone.hbm.xml"/>
        <mapping resource="com/topcoder/web/reg/model/User.hbm.xml"/>
        <mapping resource="com/topcoder/web/reg/model/UserGroup.hbm.xml"/>
    </session-factory>

</hibernate-configuration>
