<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context" xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
    xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
			http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
			http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">
    <context:property-placeholder location="classpath:RegConfigProperties.properties" />

    <bean id="loginAction" class="com.topcoder.web.reg.action.LoginAction" parent="baseAction" scope="prototype" />
    <bean id="firstStepAction" class="com.topcoder.web.reg.action.FirstStepAction" parent="baseAction" scope="prototype" />
    <bean id="displayProfileAction" class="com.topcoder.web.reg.action.DisplayProfileAction" parent="baseAction" scope="prototype" />
    <bean id="profileUpdateAction" class="com.topcoder.web.reg.action.ProfileUpdateAction" parent="baseAction" scope="prototype" />

	<bean id="regEmailSetting" class="com.topcoder.web.reg.RegEmailSetting">
		<property name="activationEmailBodyTemplateFile" value="${activation_email_body_template_file}" />
        <property name="activationEmailFromAddress" value="${activation_email_from_address}" />
        <property name="activationEmailSubject" value="${activation_email_subject}" />
	</bean>
    <bean id="registerAction" class="com.topcoder.web.reg.action.RegisterAction" parent="baseAction" scope="prototype">
        <property name="setting" ref="regEmailSetting" />
    </bean>

    <bean id="sendActivateEmailAction" class="com.topcoder.web.reg.action.SendActivateEmailAction" parent="baseAction" scope="prototype">
        <property name="activationEmailBodyTemplateFile" value="${activation_email_body_template_file}" />
        <property name="activationEmailFromAddress" value="${activation_email_from_address}" />
        <property name="activationEmailSubject" value="${activation_email_subject}" />
    </bean>
    <bean id="activateAction" class="com.topcoder.web.reg.action.ActivateAction" parent="baseAction" scope="prototype" />

    <bean id="forgotPasswordAction" class="com.topcoder.web.reg.action.ForgotPasswordAction" parent="baseAction" scope="prototype">
        <property name="emailBodyTemplateFile" value="${forgot_password_email_body_template_file}" />
        <property name="emailFromAddress" value="${forgot_password_email_from_address}" />
        <property name="emailSubject" value="${forgot_password_email_subject}" />
    </bean>

    <bean id="resetPasswordAction" class="com.topcoder.web.reg.action.ResetPasswordAction" parent="baseAction" scope="prototype">
    </bean>

	<bean id="captchaGenerator" class="com.topcoder.web.reg.CaptchaGenerator" init-method="checkInit">
		<property name="randomStringImageConfigFile" value="${random_string_image_config}" />
		<property name="captchaLifeSpan" value="120000" />
		<property name="deprecatedCaptchaCheckValve" value="5" />
	</bean>

    <bean id="loadCaptchaAction" class="com.topcoder.web.reg.action.LoadCaptchaAction" scope="prototype">
    	<property name="captchaGenerator" ref="captchaGenerator" />
    </bean>

    <bean id="baseAction" class="com.topcoder.web.reg.action.BaseAction" abstract="true" scope="prototype" />

    <bean id="throttle" class="com.topcoder.web.common.throttle.Throttle">
        <!-- Maximum number of hits allowed per user per interval -->
        <constructor-arg index="0" value="${throttle_max_hits}"></constructor-arg>
        <!-- Length of an interval in milliseconds -->
        <constructor-arg index="1" value="${throttle_interval}"></constructor-arg>
    </bean>

    <bean id="regBasicInterceptor" class="com.topcoder.web.reg.interceptor.RegBasicInterceptor">
        <property name="throttle" ref="throttle" />
        <property name="throttleEnabled" value="${throttle_enabled}" />
    </bean>

    <bean id="shortHibernateInterceptor" class="com.topcoder.web.reg.interceptor.ShortHibernateInterceptor" />
    <bean id="authenticationInterceptor" class="com.topcoder.web.reg.interceptor.AuthenticationInterceptor" />
    <bean id="requestTypeCheckingInterceptor" class="com.topcoder.web.reg.interceptor.RequestTypeCheckingInterceptor" />
    
    <!-- REST service config -->
    <import resource="classpath*:META-INF/cxf/cxf.xml" />
	
	<bean id="jacksonProvider" class="org.codehaus.jackson.jaxrs.JacksonJsonProvider">
	</bean>
	
	<bean id="registerService" class="com.topcoder.web.reg.rest.impl.RegisterRESTfulServiceCXFImpl">
		<property name="setting" ref="regEmailSetting" />
	</bean>
	
	<jaxrs:server id="server" address="/">
		<jaxrs:serviceBeans>
			<ref bean="registerService" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<bean class="org.codehaus.jackson.jaxrs.JacksonJaxbJsonProvider" />
		</jaxrs:providers>
		<jaxrs:features>
			<bean class="org.apache.cxf.feature.LoggingFeature" />
		</jaxrs:features>
	</jaxrs:server>
    
</beans>