<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <title></title>
  </head>
  <body>
    This is the clock frame.  You shouldn't be seeing this.
    <script language="javascript">
        //perform clock sync, time below is in milliseconds after epoch
        var endTime = new Date(1103054025000);
        var serverTime = new Date(1103053905000);
        var localTime = new Date();

        var serverOffset = -5; //hours from GMT
        var offset = localTime.getTimezoneOffset();
        offset = offset / 60;
        offset = offset * -1

        serverTime = new Date(serverTime.getTime() - ((serverOffset - offset) * 60 * 60 * 1000));
        var syncedOffset = localTime.getTime() - serverTime.getTime();

        endTime = new Date(endTime.getTime() - ((serverOffset - offset) * 60 * 60 * 1000));

        function update() {
            var d = new Date();
            d = new Date(d.getTime() - syncedOffset);
            var offset = d.getTimezoneOffset();
            offset = offset / 60;
            offset = offset * -1

            var leadingIdent = d.getHours() > 12 ? "PM" : "AM" ;

            var text = padWithZeroes(d.getHours() % 12) + ":" + padWithZeroes(d.getMinutes()) + ":" + padWithZeroes(d.getSeconds()) + " " + leadingIdent + " GMT" + offset;

            updateDivOrSpan(top.mainFrame.document, "timerInner", text);

            var timeLeft = endTime.getTime() - d.getTime();
            if(timeLeft > 0 ) {
                text = convertToTimeString(timeLeft);
            } else {
                text = "Expired";
            }

            updateDivOrSpan(top.mainFrame.document, "timerInner2", text);
            setTimeout("update()", 1000);
        }

        function convertToTimeString(time) {
            time = (time - (time % 1000)) / 1000;
            var secs = time % 60;
            time = time - secs;
            var minutes = (time % 3600) / 60;
            time = time - (minutes * 60);
            var hours = time / 3600;

            return padWithZeroes(hours) + ":" + padWithZeroes(minutes) + ":" + padWithZeroes(secs);
        }

        function updateDivOrSpan(root, name, text) {
            if(root.getElementById) {
                root.getElementById(name).innerHTML = text;
            } else {
                alert("FIX ME");
            }
        }

        function padWithZeroes(val) {
            var newVal = "00" + val;
            newVal = newVal.substring(newVal.length - 2, newVal.length);
            return newVal;
        }

        setTimeout("update()", 1000);
    </script>
  </body>
</html>
