<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
  "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>

    <!-- Action Servlet Configuration -->
    <servlet>
  	    <servlet-name>CatalogDownload</servlet-name>
  	    <servlet-class>com.topcoder.dde.servlet.DDEComponentDownload</servlet-class>
    </servlet>
    <servlet>
  	    <servlet-name>CatalogDocument</servlet-name>
  	    <servlet-class>com.topcoder.dde.servlet.DDEDocumentDownload</servlet-class>
    </servlet>
    <servlet>
  	    <servlet-name>ForumAttachment</servlet-name>
  	    <servlet-class>com.topcoder.dde.servlet.DDEForumAttachmentDownload</servlet-class>
    </servlet>
    <servlet>
  	    <servlet-name>JavadocViewing</servlet-name>
  	    <servlet-class>com.topcoder.dde.servlet.JavadocServlet</servlet-class>
    </servlet>
    <servlet>
  	    <servlet-name>SubmissionDownload</servlet-name>
  	    <servlet-class>com.topcoder.dde.servlet.DDESubmissionDownload</servlet-class>
    </servlet>


    <!-- Action Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>SubmissionDownload</servlet-name>
        <url-pattern>/catalog/submission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JavadocViewing</servlet-name>
        <url-pattern>/catalog/javadoc/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatalogDownload</servlet-name>
        <url-pattern>/catalog/download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatalogDocument</servlet-name>
        <url-pattern>/catalog/document</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForumAttachment</servlet-name>
        <url-pattern>/forum/attachment</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

    <!-- The Welcome File List -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>../index.jsp</welcome-file>
    </welcome-file-list>
    
    <!-- ERROR Pages -->
    <error-page>
        <error-code>404</error-code>
        <location>/attention/pagenotfound.html</location>
    </error-page>
<!--
    <error-page>
        <exception-type>java.lang.NullPointerException</exception-type>
        <location>/login.jsp?errors=Your+session+is+no+longer+valid.+Please+log+in+again.</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.IllegalStateException </exception-type>
        <location>/login.jsp?errors=Your+session+is+no+longer+valid.+Please+log+in+again.</location>
    </error-page>
    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/login.jsp?errors=A+system+error+occurred.+Please+log+in+again.</location>
    </error-page>
-->    

</web-app>
