/* UNIFORMED BROWSER RESET base on Eric Meyer reset (http://meyerweb.com/eric/tools/css/reset/) */
html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
em, img, small, strong, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, 
tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 1em;
	vertical-align: baseline;
	background: transparent;
}
html {font-size: 100%;}
ol, ul {list-style: none;}
table {border-collapse: collapse; border-spacing: 0;}