.jcarousel-skin-tc .jcarousel-container-horizontal {
    width: 498px;
}

.jcarousel-skin-tc .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tc .jcarousel-clip-horizontal {
    width: 498px;
}